* {
    margin:0;
    padding:0;
}

a {
    text-decoration:none;
}

body {
    background:#F8F9FB;
}

#wrap {
    margin:auto;
}

/* 좌측 css 처리 */
.login_comment {
    margin:auto;
    position:relative;
    top:170px;
    right:15%;

    text-align:center;
}

.login_comment p {
    margin:auto;
    white-space:nowrap;
    
    letter-spacing: -4px;
    font:normal normal 800 25px/35px Pretendard;
    color:#0A0606;
}

.login_img_area {
    margin:auto;
    position:relative;
    top:340px;
    right:15%;

    width:700px;
    height:523px;
}

.login_img_area .login_img {
    margin:auto;
    background:url("../imgs/login_img.svg") no-repeat padding-box;

    width:500px;
    height:350px;
}

/* 우측 CSS 처리 */

.tab {
    position:absolute;
    margin:auto;
    width:400px;
    top:17%;
    left:58%;
}

#tab1, #tab2 {
    display:none;
}

.tab > label {
    margin-bottom:15%;
    display:inline-block;
    text-align:center;
    width:197px;
    height:35px;
    line-height:48px;
    font: normal normal 600 16px/19px Pretendard;
    border-bottom:2px solid #DDDDDD;
}

.tab > label:hover {
    cursor:pointer;
    color:#5B8FD2;
    font-weight:900;
    border-bottom:2px solid #5B8FD2;
}

#find_id p, #find_pw p {
    margin-bottom:2%;
    /* UI Properties */
    text-align: left;
    font: normal normal 600 14px/17px Pretendard;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
}

.put_name {
    margin-bottom:4%;
    width: 400px;
    height: 50px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #0000001A;
    border-radius: 5px;
    opacity: 1;
}

.put_number {
    margin-bottom:4%;
    width: 280px;
    height: 50px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #0000001A;
    border-radius: 5px;
    opacity: 1;
}

.certifi_num {
    margin-bottom:4%;
    width: 280px;
    height: 50px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #0000001A;
    border-radius: 5px;
    opacity: 1;
}

input[type=text]::placeholder {
    padding-left:15px;
}

.ask_certifinum,
.asked_certifinum {
    margin-left:3%;
    width: 100px;
    height: 50px;
    /* UI Properties */
    border:0;
    color:#FFFFFF;
    font: normal normal medium 16px/19px Pretendard;
    background: #999999 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1
}

.find_id_btn,
.find_pw_btn {
    margin-top:13%;
    margin-bottom:6%;
    width: 400px;
    height: 50px;
    /* UI Properties */

    color:#FFFFFF;
    font: normal normal 600 16px/19px Pretendard;
    border:1px solid #5B8FD2;
    background: #5B8FD2 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #66666629;
    border-radius: 5px;
    opacity: 1;
}

.back_tohome {
    width: 400px;
    height: 50px;
    /* UI Properties */
    color:#5B8FD2;
    font: normal normal 600 16px/19px Pretendard;;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #66666629;
    border: 1px solid #5B8FD2;
    border-radius: 5px;
    opacity: 1;
}

.tab1_content {
    display:inline;
}

.tab2_content,
.found_id,
.changing_pw{
    display:none;
}