
.main_area{
    width: 100%;
    display: flex;
    gap: 80px;
    padding-bottom: 50px;
    max-width: 1440px;
}

.L_area{
    width: 53%;
}

.R_area{
    width: 42%;
}

.area1_2, .area2{
    position: relative;
}
.area_title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 24px;
}
.main_area .link{
    position: absolute;
    top: 5px; right: 0;
    color: #5B8FD2;
}
.L_con1{
    width: 100%;
    display: block;
    height: auto;
    position: relative;
}
.event_btn{
    width: 80px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 0; right: 0;
    cursor: pointer;
}
.event_btn button{
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    box-shadow: 0px 3px 10px #0000001a;
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}
.event_btn button:hover{
    background-color:#5B8FD2;
    color: #ffffff;
}
.event_btn button:hover #prev_btn{display:none;}
.event_btn button:hover #prev_btn_hover{display:block;}
.event_btn button:hover #next_btn{display:none;}
.event_btn button:hover #next_btn_hover{display:block;}

#prev_btn, #next_btn{
	width: auto;
	position: relative;
}

/* 흰색 버튼 기본:안보임 */
#prev_btn_hover, #next_btn_hover{
	width: auto;
	position: absolute;
	display:none;
}
#next_btn{
	margin-left:2px;
}
#prev_btn_hover{
	top: 8px;
	left: 10.5px;
}
#next_btn_hover{
	top: 8px;
	right: 10px;
}

.event_box_wrap{
    width: 100%; height: 370px;
    overflow: hidden;
    position:relative;
}
.event_box_in{
    width: calc(250px * 10);
    display: flex;
    gap: 20px;
    position: absolute;
    left: 0;
    /* transition: left 0.5s; */
}
.event_box {
    width: 220px; height: 300px;
    background-color: #FFFFFF;
    box-shadow: 0px 3px 10px #0000001a;
    border-radius: 20px;
    margin: 5px;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    font-weight: 600;
}

.eventStat{
    width: 75px; height: 24px;
    border-radius: 5px;
    text-align: center;
    line-height: 24px;
    font-size: 14px;
    position: absolute;
    top: 15px; right: 20px;
}
.recruiting{
    background-color: #DD50671A;
}
.recruiting::after{
    content: "모집중";
    color: #DD5067;
}

.completed, .ongoing, .onend{
    background-color: #6666661A;
    color: #666666;
}
.completed::after{
    content: "모집마감";
}
.ongoing::after{
    content: "진행중";
}
.onend::after{
    content: "진행완료";
}

.event_box p:nth-child(2){
    width: 100%; height: 90px;
    font-size: 24px;
    margin-top: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.event_box p:nth-child(3){
    width: calc(100% - 40px);
    position: absolute;
    bottom: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.app_list{
    width: 100%; height: 380px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #0000000D;
    padding: 20px 40px;
    box-sizing: border-box;
    position: relative;
}

.app_line{
    width: 100%;
    display: flex;
    height: 85px;
    border-bottom: 1px solid #DDDDDD;
    justify-content: space-between;
    align-items: center;
}
.app_line:last-child{
    border:0;
}
.app_title{
    font-size: 18px;
    font-weight: 600;
    width: 55%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.profile_wrap {
    width: 30%;
    height: 40px;
    position: relative;
}
.profile_wrap div {
    width: 40px; height: 40px;
    border-radius: 50%;
    position: absolute;
    border: 2px solid #fff;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 1;
}
.profile_wrap div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profile_wrap div:nth-child(2){
    left: 30px;
    z-index: 2;
}
.profile_wrap div:nth-child(3){
    left: 60px;
    z-index: 3;
}
.profile_wrap div:nth-child(4){
    left: 90px;
    z-index: 4;
}
.profile_wrap .last_num{
    background-color: #EEEEEE;
    line-height: 36px;
    color: #999999;
    text-align: center;
}
.app_date{
    color: #999999;
}

.staff_list, .record_list{
    width: 100%; height: 800px;
    box-shadow: 0px 0px 10px #0000000d;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 30px 40px;
    padding-bottom: 40px;
    box-sizing: border-box;
    position: relative;
}

.staff_date{
    display: flex;
    align-items: center;
    gap: 10px;
}
.staff_date p{
    color: #999999;
}
.staff_date div{
    height: 1px;
    background-color: #999999;
    flex: 1 0 auto;
}
.staff_line{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}
.profile_img{
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
}
.profile_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.staff_info {
    width: 40%;
}
.staff_info p:first-child, .staff_time, .staff_btn{
    font-size: 20px;
    font-weight: 600;
}
.staff_info p:last-child{
    color: #999999;
    margin-top: 5px;
}
.staff_btn{
    width: 72px; height: 50px;
    border-radius: 10px;
    text-align: center;
    line-height: 50px;
}
.start, .comeback{
    background-color: #E5FFE2;
}
.end{
    background-color: #EEEEEE;
}
.outing{
    background-color: #FFF4E2;
}

.start::after{
    content: '출근';
}
.end::after{
    content: '퇴근';
}
.outing::after{
    content: '외출';
}
.comeback::after{
    content: '복귀';
}


/* 스태프 */

.app_btn_forstaff{
    width: 110px; height: 40px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    line-height: 40px;
    margin-left: 100px;
}

.pass{
    background-color: #5B8FD21A;
    color: #5B8FD2;
}
.wait{
    background-color: #333333;
    color: #ffffff;
}
.nonpass{
    background-color: #6666661A;
    color: #666666;
}

.pass::after{
    content: '합격';
}
.wait::after{
    content: '대기중';
}
.nonpass::after{
    content: '불합격';
}

.record_list{
    padding: 40px;
    padding-bottom: 43px;
}
.record_line{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 55px;
}
.record_line:last-child{
    margin: 0;
}
.recode_info{
    width: 42%;
}
.record_event{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.record_time {
    text-align: center;
    width: 60px;
}
.record_time p:first-child, .record_event{
    color: #999999;
    font-size: 14px;
    margin-bottom: 5px;
}
.record_time p:last-child, .record_date {
    font-size: 18px;
    font-weight: 600;
}

p.empty {
    text-align: center;
    width: calc(100% - 80px);
    position: absolute;
    top: calc(50% - 8px);
    color: #999999;
}