*{
    margin: 0;
    padding: 0;
}

ul,ol,li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

img{
    border: 0;
    width: 100%;
}

body{
    font-family: 'pretendard';
}

/* main */
.content{
    position:relative;
    width :95%;
    /* width: calc(100% - 200px); */
    /* margin-left: 200px; */
    /* height: 100vh; */
    display: flex;
}


.container{
    width: 85%;
    /*  margin: 0 auto;*/
    /* height: 100vh; */
}

/* sidebar와의 간격조정을 위해 */
.content::before{
	content:"";
    display: block;
	width: 18%;
    max-width: 320px;
}

.page-header{
    width: 100%; max-width: 1440px;
    height: 120px;
    line-height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.page-header span{
    font-weight: 500;
    font-size: 25px;
    color: #333333;
}

.excel_download{
    width: 250px; height: 50px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px #0000000D;
    border-radius: 50px;
    padding-left: 70px;
    box-sizing: border-box;
    line-height: 50px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.detail_bar {
    display:flex;
    width:100%;
    border-bottom:1px solid #DDDDDD;
    max-width: 1440px;
}

.detail_bar .detail1, .detail_bar .detail2{
    width: 80px;
    display: flex; gap: 10px;
    align-items: center;
    height: 30px;
    cursor: pointer;
    border-bottom: 3px solid #00000000;
    margin-right: 40px;
}

.detail_bar .this_bar, .detail_bar>div:hover{
    border-bottom: 3px solid #5B8FD2;
}

.detail_bar img {
    width:14px;
}

.detail_bar p {
    font-size: 16px;
    font-weight: 500;
    color: #999999;
}

.detail_bar .detail1 p {
    color:#333333;
}

body{
    font-family: 'pretendard';
    background-color: #F8F9FB;
}

#wrap{
    width: 100%;
}

.area{
	position:relative;
    width: 100%; height: auto;
    max-width: 1440px; min-height: 720px;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px #0000000D;
    border-radius: 10px;
    padding: 40px;
    box-sizing: border-box;
    margin-bottom: 40px;
}

.area .search_area {
    width:49%;
    padding-left:60%;
}

.calendar {
    margin-right:25px;
    width: 34%;
    height: 40px;
    /* UI Properties */
    background: #FAFAFA 0% 0% no-repeat padding-box;
    border: 0.5px solid #999999;
    border-radius: 3px;
    opacity: 1;
}

.word_search {
    width: 42%;
    height: 40px;
    /* UI Properties */
    background: #FAFAFA 0% 0% no-repeat padding-box;
    border: 0.5px solid #999999;
    border-radius: 3px;
    opacity: 1;
}

.list {
    margin-top:20px;
}

.list #top_ol {
    font-weight: bold;
    border-top: 2px solid #DDDDDD;
    border-bottom: 2px solid #DDDDDD;
    display: flex;
    flex-direction: row;
    font-weight: 600;
}

#top_ol div li {
    display:inline-block;
    margin-top:17.5px;
    margin-bottom:17.5px;
    color: #666666;
}

#list_ol{
	display: flex;
	border-bottom: 1px solid #DDDDDD;
	line-height: 45px;
	height: 45px;
	font-weight: 600;
}

#index_area{
	margin-left:4%;
	width: 10%;
}

#title_area{
	width: 20%;
	text-align: center;
}

#date_area{
	width: 30%;
	text-align: center;
}

#status_area{
	width: 10%;
	text-align: center;
}

#count_area{
	width: 13%;
	text-align: center;
}

#a_count{
	border: 1px solid #DDDDDD;
	border-radius: 20px;
	width: 72px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	margin-top: 3.5px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0px 3px 10px #99999929;
	cursor: pointer;
}

.red{
	color: #DD5067;
}
.black{
	color: #333333;
}
.gray{
	color: #999999;
}

/* 사용자 페이지 */
#index_area_s{
	margin-left:4%;
	width: 5%;
}

#title_area_s{
	width: 35%;
	text-align: center;
}

#date_area_s{
	width: 45%;
	text-align: center;
}

#status_area_s{
	width: 10%;
	text-align: center;
}

/*--------------- 모달 ------------*/
#application_modal{
	display:none;
	width:50%;
	height:100%;
	border: 1px solid black;
}

 /* modal */
 #modal_wrap{
    width: 100%; height: 100%;
    position: fixed;
    top: 0; left: 0;
    display: none;
}

.modal_bg{
    width: 100%;
    height: 100%;
    background-color: #33333326;
    position: relative;
    top: 0; left: 0;
}

.modal_con_R{
    background-color: #ffffff;
    width: 45%; height: 100%;
    max-width: 850px;
    position: absolute;
    top: 0; right: 0;
}

.modal_con_L{
    width: 39%;
    max-width: 800px;
    height: 900px;
    background-color: #ffffff;
    display: block;
    position: absolute;
    top: calc(50% - 450px);
    right: 47%;
    border-radius: 7px;
    display: none;
}

#modal_content_wrap{
    margin-right: 30px;
    width: calc(100% - 30px);
    height: 85%;
    overflow-y: auto;
    padding: 0 50px 0 65px;
    box-sizing: border-box;
}

#modal_content_wrap.app_Con{
    height: 70%;
}

#modal_content_wrap::-webkit-scrollbar {
    width: 8px;
}

#modal_content_wrap::-webkit-scrollbar-thumb {
    height: 30%; 
    background: #DDDDDD; 
    border-radius: 10px;
    background-clip: padding-box;
    border: 1px solid transparent;
}

#modal_content_wrap::-webkit-scrollbar-track {
    background: #ffffff;
}

.R_inact_bt{
    width: 40px; height: 40px;
    background-color: #ffffff;
    background-image: url("../imgs/close_btn.svg");
    position: absolute;
    top: 20px; right: 20px;
    border: 0;
    cursor: pointer;
}
.total_wrap{
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 65px 80px 30px 65px;

}
.total, .today {
    font-size: 18px;
    font-weight: 600;
}
.total span{
    color: #DD5067;
}

.list_wrap{
    box-shadow: 3px 3px 6px #99999929;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    background-color: #FFFFFF;
    /* width: 700px; */
    width: 100%; height: 100px;
    padding: 15px;
    margin-bottom: 15px;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 25px;
}

.list_rejected{
    background-color: #eee;
}

.list_wrap .each_{
    width: 100%; height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 15px;
    box-sizing: border-box;
}
/* 지원현황 */
.position_wrap{
    padding-bottom: 10px;
}
.position_title{
    width: 100%;
    display: flex;
    margin-bottom: 15px;
    gap: 18px;
    align-items: center;
}

.position_title p {
    font-size: 16px;
    font-weight: 600;
}

.position_title div {
    height: 1px;
    background-color: #ddd;
    flex: 1 0;
    align-items: center;
}

.personal_info, .career_info, .address_info, .btn_div{
    font-size: 15px;
    color: #333333;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.icon{
    width: 24px;
    height: auto;
    margin-right: 5px;
}
.trash_icon{
    width: 20px;
    height: auto;
    cursor: pointer;
    position: absolute;
    top:10px; right: 10px;
}

.list_wrap .img_div{
    width: 60px; height: 60px;
    border-radius: 50%;
    overflow: hidden;
}
.profile_img{
    width: 100%; height: 100%;
    object-fit: cover;
}

.personal_info>div, .career_info>div, .address_info>div{
    height: 24px;
    display: flex;
    align-items: center;
}
.career_info>div, .address_info>div{
    justify-content: center;
}

.upper_div p, .personal_div p{
    font-weight: 600;
}

.list_wrap .line{
    height: 50px;
    border: 0.5px solid #DDDDDD;
}

.personal_info {
    width: 25%;
}

.address_info {
    width: 20%;
}

.career_info {
    width: 12%;
}

.btn_div button{
    width: 70px; height: 25px;
    font: normal normal 600 14px/30px Pretendard, SemiBold;
    border-radius: 20px;
    line-height: 100%;
    cursor: pointer;
    color: #FFFFFF;
    border: 0;
}

.btn_div .accept_btn{
    background-color: #5B8FD2;
}

.btn_div .complete_btn{
    background-color: #333333;
}

.btn_div .undo_btn{
    background-color: #999999;
}

.resume_open{
    font-size: 11px;
    color: #999999;
    text-decoration: underline; 
    text-underline-position:under;
    text-align: center;
    margin-top: 5px;
    cursor: pointer;
}

.confirm_wrap {
    width: 100%;
    height: calc(30% - 116px);
    background-color: #F2F8FF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding-bottom: 35px;
    box-sizing: border-box;
    display: none;
}

.confirm_wrap p{
    font-size: 15px;
}
.confirm_wrap p span{
    font-weight: 600;
    color: #DD5067;
}

.confirm_wrap button{
    width: 150px; height: 40px;
    background-color: #FFFFFF;
    border: 1px solid #5b8fd2;
    box-shadow: 0px 3px 10px #0000001A;
    border-radius: 5px;
    cursor: pointer;
    color: #5b8fd2;
    font-weight: 500;
}


/* 근무기록 */
.record_wrap {
    width: 50%;
}
.record_div {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.each_record {
    text-align: center;
    width: 25%;
}
.each_record p {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 5px;
}
.workTime_text{
    color: #DD5067;
    font-size: 14px;
    background-color: #FFFFFF;
    border: 0;
    height: 22px;
}
.record_btn{
    background-color: #DD5067;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 50px;
    width: 50px; height: 20px;
    color: #FFFFFF;
    font-size: 12px;
    border: 0;
    cursor: pointer;
}

/* 이력서 */
.resume_wrapper{
	display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px;
}

.modal_download_area{
	display: flex;
}

.download_area {
    display: flex;
    margin-right: 450px;
}

.download_area #pdf {
    margin-top: 20px;
    position: relative;
    cursor: pointer;
}

.download_area #pdf_text {
    margin-top: 18px;
    position: relative;
    margin-left: 5px;
    cursor: pointer;
}

.download_area #pdf_text #pdf_text_ {
    color: #333333;
    font-size: 14px;
    font: normal normal 300 14px/17px Pretendard;
    letter-spacing: -0.28px;
}

.resume_close {
    width: 40px;
}

.resume_close #close_btn{
	margin-left: 15px;
	cursor: pointer;
}

.resume_line {
    border: 1px solid;
    width: 590px;
    position: relative;
}

#resume_content{
	width: 590px;
}

#resume_content .resume_title #resume_title_text {
    text-align: center;
    font: normal normal 600 20px/24px Pretendard;
    letter-spacing: 40px;
    color: #333333;
    margin: 30px 0;
}

#resume_content .resume_staff_info .profile_top{
	display: flex;
}

.profile_top #resume_img_file {
    width: 160px;
    height: 160px;
    display: flex;
    align-items: center;
    margin-right: 30px;
    border: 1px solid red;
}

.profile_top #resume_img_file #resume_profile_img {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.profile_top #resume_info_area{
	margin-top: 25px;
}

.profile_top #resume_info_area #resume_top_area{
	display: flex;
}

.profile_top #resume_info_area #resume_top_area #staff_name{
	text-align: left;
    font: normal normal 600 20px/24px Pretendard;
    letter-spacing: 0px;
    color: #000000;
}

.profile_top #resume_info_area #resume_top_area #staff_age{
	text-align: left;
    font: normal normal 600 16px/19px Pretendard;
    letter-spacing: 0px;
    color: #000000;
    margin-left: 10px;
}

.profile_top #resume_info_area #resume_top_area #div_line {
    border: 1px solid #707070;
    height: 20px;
    width: 0;
    margin: 0 10.5px;
}

.profile_top #resume_info_area #resume_top_area #staff_gender {
    text-align: left;
    font: normal normal 600 16px/19px Pretendard;
    letter-spacing: 0px;
    color: #000000;
}

.profile_top #resume_info_area #resume_top_area #profile_wrap{
	display: flex;
	margin-top: 2px;
}

.profile_top #resume_info_area #first_info, #second_info, #third_info{
	display: flex;
    font: normal normal 600 14px/17px Pretendard;
    color: #000000;
}

.profile_top #resume_info_area #first_info{
	margin-top: 15px;
}

.profile_top #resume_info_area #second_info{
	margin-top: 10px;
}

.profile_top #resume_info_area #third_info{
	margin-top: 10px;
}

.profile_top #resume_info_area #first_info #staff_birth{
	display: flex;
}

.profile_top #resume_info_area #first_info #staff_phone{
	display: flex;
	margin-left: 40px;
}

#resume_icon {
    width: 17px;
    height: 17px;
    border: 1px solid;
    margin-right: 7px;
}

#resume_info_text{
	margin-top: 2px;
}

.resume_school_info{
	margin-top: 40px;
}

.resume_table_title{
	text-align: left;
    font: normal normal 600 18px/21px Pretendard;
    letter-spacing: 0px;
    color: #333333;
    margin-bottom: 7px;
}

.resume_school_info .resume_table_school .table_row{
	display: flex;
	font-size: 12px;
	font-weight: 700;
}

.resume_school_info .resume_table_school #table_top li{
	color: #999999;
	background-color: #F2F8FF;
	border-top: 1px solid #5B8FD2;
}

.resume_school_info .resume_table_school .table_row li{
	border-bottom: 1px solid #DDDDDD;
	padding: 15px 10px;
}

.resume_school_info .resume_table_school .table_row li:first-child{
	width: 35%;
}

.resume_school_info .resume_table_school .table_row li:nth-child(2){
	width: 35%;
}

.resume_school_info .resume_table_school .table_row li:nth-child(3){
	width: 10%;
	text-align: center;
}

.resume_school_info .resume_table_school .table_row li:nth-child(4){
	width: 10%;
	text-align: center;
}

.resume_school_info .resume_table_school .table_row li:nth-child(5){
	width: 10%;
	text-align: center;
}

.resume_career_info{
	margin-top: 60px;
}

.resume_career_info .resume_table_career .table_row{
	display: flex;
	font-size: 12px;
	font-weight: 700;
}

.resume_career_info .resume_table_career #table_top li{
	color: #999999;
	background-color: #F2F8FF;
	border-top: 1px solid #5B8FD2;
}

.resume_career_info .resume_table_career .table_row li{
	border-bottom: 1px solid #DDDDDD;
	padding: 15px 10px;
}

.resume_career_info .resume_table_career .table_row li:first-child{
	width: 30%;
}

.resume_career_info .resume_table_career .table_row li:nth-child(2){
	width: 30%;
}

.resume_career_info .resume_table_career .table_row li:nth-child(3){
	width: 30%;
}

.resume_career_info .resume_table_career .table_row li:nth-child(4){
	width: 10%;
	text-align: right;
}