button{
	border:none;
	background:none;
}

pre {
	height: 300px;
	overflow-y: scroll;
}
#wrap {
	width: 100%;
}

.area .search_area {
    width:45%;
    padding-left:55%;
}

#searchForm{
	display: flex;
}

.date_search{
	display:flex;
	width:47%;
	background: #FAFAFA 0% 0% no-repeat padding-box;
    border: 0.5px solid #999999;
    border-radius: 3px;
}

.date_search .date_input{
	width: 85%;
	display: flex;
}

.date_search .calendar_start{
	border:none;
	background:none;
	padding-left: 15px;
    width: 30%;
    font-size: 13px;
}

.date_search .calendar_end{
	border:none;
	background:none;
    width: 30%;
    font-size: 13px;
    padding-left: 5px;
}

.date_search .date_div{
	height: 40px;
    line-height: 40px;
    color: #666666;
/*     width:5%; */
}

.date_search .calendar_button{
	width: 15%;
    display: flex;
}

.calendar_button .search_img{
	margin: 0 auto;
    cursor: pointer;
}

#searchDate{
	border:none;
	background:none;
	padding-left:15px;
}

.text_search{
	display:flex;
	width:53%;
	margin-left:25px;
}

.word_search {
    width: 85%;
    height: 40px;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    border: 0.5px solid #999999;
    border-radius: 3px 0 0 3px;
    opacity: 1;
    border-right: none;
    padding-left: 15px;
}

.text_search .search_button{
	width: 15%;
    display: flex;
    border: 0.5px solid #999999;
    border-left: none;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    border-radius: 0 3px 3px 0;
}

.search_button .search_img{
	margin: 0 auto;
	cursor: pointer;
}

.list {
    margin-top:20px;
    min-height: 618px;
    overflow: hidden;
}

.list #top_ol {
    font-weight: bold;
    border-top: 1px solid #BBBBBB;
    border-bottom: 1px solid #BBBBBB;
    display: flex;
    flex-direction: row;
    font-weight: 600;
    box-shadow: 0px 3px 6px #0000000d;
}

#top_ol div li {
    display:inline-block;
    margin-top:17.5px;
    margin-bottom:17.5px;
    color: #666666;
}

.list_ol{
	display: flex;
	border-bottom: 1px solid #DDDDDD;
	line-height: 55px;
	height: 55px;
	font-weight: 600;
    font-size: 14px;
}

.list_ol:hover {
    background-color: #5B8FD208;
}

/* 관리자 - 직원관리 페이지 */

.index_area{
	margin-left:2%;
	width: 5%;
	text-align:center;
}

.event_area{
	width: 20%;
	text-align: center;
}

.workdate_area{
	width: 20%;
	text-align: center;
}

.name_area{
	width: 10%;
	text-align: center;
}

.gender_area{
	width: 7%;
	text-align: center;
}

.birth_area{
	width: 10%;
	text-align: center;
}

.phone_area{
	width: 10%;
	text-align: center;
}

.resume_area{
	width: 7%;
	text-align: center;
}
.contact_area{
	width: 7%;
	text-align: center;
}

#resume_icon{
	width:auto;
}

/* 사용자 - 이력관리 페이지 */
.no_area {
	margin-left:2%;
	width: 5%;
	text-align: center;
}

.title_area {
	width:30%;
	text-align: center;
}

.date_area {
	width:30%;
	text-align: center;
}

.pass_area {
	width:15%;
	text-align: center;
}

.contrac_area {
	width:15%;
	text-align: center;
}

.contrac_area .contract_add {
	width: 72px;
	height: 36px;

	font: normal normal 600 14px/17px Pretendard;
	color:#333333;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 10px #99999929;
	border: 0.5px solid #999999;
	border-radius: 20px;
	cursor:pointer;
}

/* 근로계약서 */



/* 페이징 */
.paging_area {
	font-weight: bold;
	color: #999999;
	padding-bottom: 70px;
    padding-right: 65px;
}

.paging_area ul {
	display: flex;
	float:right;
}

.paging_area ul li {
	margin-left: 20px;
	padding: 5px;
}

#prev, #next {
	border: 1px solid #dddddd;
	padding-left: 10px;
	padding-right: 10px;
}

#page_num a{
	color: #999999;
	border:1px solid #ffffff;
	padding: 5px 10px 5px 10px;
}

#page_num a:hover, #page_num a:focus{
	border:1px solid #dddddd;
	color: black;
}

/* 모달창 */
#modal1,
#modal2 {
	display:none;
	position:fixed;
	right:0;
	width:50%;
	height:100%;
	background-color:#FFFFFF;
	border:1px solid #DDDDDD;
	border-radius: 3px;
	opacity: 1;
	z-index:1;
}

.null, .notnull_keyword, .notnull_date, .notnull_all{
    width: 100%;
    height: 80px;
    position: relative;
}
.pagewrap{
	display: flex;
	position: absolute;
	/* right: 40px;
	margin-top: 57px; */
    right: 0; bottom: 0;
}

.pagewrap li{
	margin-left: 10px;
    width: 30px;
    height: 30px;
    text-align: center;
/*     border: 1px solid #DDDDDD; */
}

.pagewrap .page_icon{
	border: 1px solid #DDDDDD;
}

.pagewrap li a{
	line-height: 30px;
	color: #999999;
}

.pagewrap img{
	width: 10px;
	height: 10px;
}

.page-link{
	display:block;
}

.icon_right{
	padding-right:10px;
}
.icon_left{
	padding-left:10px;
}


.page-item .thisPage{
    color: #333;
    border: 1px solid #DDDDDD;
}