button{border:none;background:none;}
*{
    margin: 0;
    padding: 0;
}

ul,ol,li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

img{
    border: 0;
    width: 100%;
}
/* main */
.content{
    position:relative;
    width :95%;
    /* width: calc(100% - 200px); */
    /* margin-left: 200px; */
    /* height: 100vh; */
    display: flex;
}


.container{
    width: 85%;
    /*  margin: 0 auto;*/
    /* height: 100vh; */
}

/* sidebar와의 간격조정을 위해 */
.content::before{
	content:"";
    display: block;
	width: 18%;
    max-width: 320px;
}

.page-header{
    width: 100%; max-width: 1440px;
    height: 120px;
    line-height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.page-header span{
    font-weight: 500;
    font-size: 25px;
    color: #333333;
}

.excel_download{
    width: 250px; height: 50px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px #0000000D;
    border-radius: 50px;
    padding-left: 70px;
    box-sizing: border-box;
    line-height: 50px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.detail_bar {
    display:flex;
    width:100%;
    border-bottom:1px solid #DDDDDD;
    max-width: 1440px;
}

.detail_bar .detail1, .detail_bar .detail2{
    width: 80px;
    display: flex; gap: 10px;
    align-items: center;
    height: 30px;
    cursor: pointer;
    border-bottom: 3px solid #00000000;
    margin-right: 40px;
}

.detail_bar .this_bar, .detail_bar>div:hover{
    border-bottom: 3px solid #5B8FD2;
}

.detail_bar img {
    width:14px;
}

.detail_bar p {
    font-size: 16px;
    font-weight: 500;
    color: #999999;
}

.detail_bar .detail1 p {
    color:#333333;
}

body{
    font-family: 'pretendard';
    background-color: #F8F9FB;
}

#wrap{
    width: 100%;
}
.area {
    padding-bottom: 40px;
}
.area{
	position: relative;
    width: 100%;
    height: auto;
    max-width: 1440px;
    min-height: 720px;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px #0000000d;
    border-radius: 10px;
    padding: 60px;
    box-sizing: border-box;
    margin-bottom: 40px;
}

#top_wrap{
	position: relative;
}

.area .backbtn_area{
	width: 50px;
	height: 40px;
	position: absolute;
	display: flex;
    align-items: center;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    cursor: pointer;
}

#back_btn{
	height: 12.5px;
}

.area .search_area {
    width: 24%;
    padding-left: 76%;
}

#searchForm{
	display: flex;
}

.text_search{
	display:flex;
	width:100%;
	margin-left:25px;
}

.word_search {
    width: 85%;
    height: 40px;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    border: 0.5px solid #999999;
    border-radius: 3px 0 0 3px;
    opacity: 1;
    border-right: none;
    padding-left: 15px;
}

.text_search .search_button{
	width: 15%;
    display: flex;
    border: 0.5px solid #999999;
    border-left: none;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    border-radius: 0 3px 3px 0;
}

.search_button .search_img{
	margin: 0 auto;
	cursor: pointer;
}

.list {
    margin-top: 20px;
    overflow: hidden;
}

.list #top_ol {
    border-top: 1px solid #BBBBBB;
    border-bottom: 1px solid #BBBBBB;
    display: flex;
    flex-direction: row;
    font-weight: 600;
    box-shadow: 0px 3px 6px #0000000d;
}

#top_ol div li {
    display:inline-block;
    margin-top:17.5px;
    margin-bottom:17.5px;
    color: #666666;
}

#list_ol{
	display: flex;
	border-bottom: 1px solid #DDDDDD;
	line-height: 55px;
	height: 55px;
	font-weight: 600;
	font-size: 14px;
}

#icon_area img {
	cursor: pointer;
	width: auto;
/* 	height: 17px; */
/* 	margin-top: 14px; */
}

#index_area{
	margin-left:4%;
	width: 7%;
}

#title_area{
	width: 23%;
	text-align: center;
}

#date_area{
	width: 20%;
	text-align: center;
}

#booth_area{
	width: 15%;
	text-align: center;
}

#counting_area, #time_area{
	width: 10%;
	text-align: center;
}

#icon_area{
	width: 5%;
	text-align: center;
}


#button_{
	margin-top: 20px;
}

#register_btn{
	background: #5B8FD2;
	box-shadow: 0px 3px 10px #99999929;
	border-radius: 3px;
	color: #FFFFFF;
	text-align: center;
	font-weight: 500;
	font-size: 14px;
	padding: 9px 26px;
	cursor: pointer;
}

#text_over{
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/*-------모달----------*/
#modal, #modal_modify, #modal_delete {
    position:fixed;
    width:90%;
    height:100%;
    margin-left:10%;
	z-index:1;
	top: 0;
	display: none;
}
        
#modal_bottom_line{
	border-bottom: 1px solid #DDDDDD;
	margin-bottom: 30px;
	width: 450px;
}

#modal_event_title p {
	margin:0;
	font-size: 18px;
	color: #333333;
	text-align: left;
	font-weight: 600;
	margin-bottom: 10px;
}

#modal_input_div p{
	font-size: 16px;
	color: #333333;
	font-weight: 600;
	margin-bottom: 20px;
}

#modal_input_div input{
	height: 50px;
	width: 430px;
	padding-left:20px;
	margin-bottom: 30px;
	border: 1px solid #DDDDDD;
	border-radius: 10px;
}
        
.modal_content, .modal_content_m{
	width:540px;
	height:600px;
	margin:190px auto;
    background:#fff;
    border:none;
    border-radius: 20px;
    padding: 20px;
}

.modal_content_d{
	width:540px;
/* 	height:310px; */
	margin:326px auto;
    background:#fff;
    border:none;
    border-radius: 20px;
}

#modal_content_wrap{
	padding: 45px;
}
        
.modal_layer, .modal_layer_m, .modal_layer_d {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#33333326;
	z-index:-1;
}

#modal_close_btn, #modal_close_btn_m{
	width: 40px;
	margin-left: 90%;
	cursor: pointer;
}

#modal_btn_div{
	margin-top: 12px;
	margin-bottom: 5px;
	display: flex;
}

#modal_insert_btn{
	background-color: #5B8FD2;
	border-radius: 10px;
	width: 200px;
	height: 50px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	font-weight: 600;
	margin-left: 126px;
	cursor: pointer;
}

#modal_update_btn{
	background-color: #5B8FD2;
	border-radius: 10px;
	width: 200px;
	height: 50px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	font-weight: 600;
	margin-left: 126px;
	cursor: pointer;
}

#modal_close_btn_d{
	background-color:#DDDDDD;
	border-radius: 10px;
	color: #FFFFFF;
	width: 160px;
	height: 50px;
	font-size: 18px;
	text-align: center;
	font-weight: 600;
	cursor: pointer;
}

#modal_delete_btn{
	background-color: #DD5067;
	border-radius: 10px;
	width: 270px;
	height: 50px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	font-weight: 600;
	margin-left: 21px;
	cursor: pointer;
}

#delete_confirm{
	margin-top: 30px;
	margin-bottom: 60px;
}

/* 페이징 */
.null, .notnull_keyword, .notnull_date, .notnull_all{
    width: 100%;
    height: 80px;
    position: relative;
}
.pagewrap{
	display: flex;
	position: absolute;
	/* right: 40px;
	margin-top: 57px; */
    right: 0; bottom: 0;
}

.pagewrap li{
	margin-left: 10px;
    width: 30px;
    height: 30px;
    text-align: center;
/*     border: 1px solid #DDDDDD; */
}

.pagewrap .page_icon{
	border: 1px solid #DDDDDD;
}

.pagewrap li a{
	line-height: 30px;
	color: #999999;
}

.pagewrap img{
	width: 10px;
	height: 10px;
}

.page-link{
	display:block;
}

.icon_right{
	padding-right:10px;
}
.icon_left{
	padding-left:10px;
}


.page-item .thisPage{
    color: #333;
    border: 1px solid #DDDDDD;
}