@charset "utf-8";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
*{margin: 0; padding: 0; font-family: 'pretendard'; color: #333333}
ul,li{list-style: none;}
a{text-decoration: none; color: #333333;}
a:visited{color: #333333;}
img{border: 0; width: 100%;}
input:focus-visible, textarea:focus-visible{outline: none;}
body{background: #FFFFFF;}
button{border:none; box-shadow: none;}

.application_list{
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 100%;
	padding-top: 30px;
	display: flex;
    align-items: center;
}

.application_list #list{
	box-shadow: 3px 3px 6px #99999929;
	border: 1px solid #DDDDDD;
	border-radius: 10px;
	background-color: #FFFFFF;
	width: 700px;
/* 	height: 100px; */
	padding: 15px;
}

.application_list #list .personal_info, .career_info, .address_info, .btn_div{
	font: 16px;
	color: #333333;
	float: left;
	margin: 0 3%;
	width: auto;
	height: 50px;
}

.application_list #list .personal_info{
	width: 22%;
}

.application_list #list .career_info{
	width: 10%;
}

.application_list #list .address_info{
	width: 18%;
}

.application_list #list .personal_info p{
	margin: 3.5% 0;
}

.application_list #list .career_info p{
	margin: 10% 0;
}

.application_list #list .address_info p{
	margin: 7% 0;
}

.upper_div{
	margin-top: 0;
}

#personal_div{
	display: flex;
/* 	flex-direction: row; */
}

#line{
	height: 50px;
	width: 0;
	border: 0.5px solid #DDDDDD;
	float: left;
}

/* .application_list #list div p{ */
/* 	margin: 5% 0; */
/* } */

.btn_div{
	display: flex;
	align-items: center;
    flex-direction: column;
    margin: 0 5%;
}

#accept_btn{
	color: #FFFFFF;
	font: normal normal 600 14px/30px Pretendard, SemiBold;
	background-color: #5B8FD2;
	border-radius: 20px;
	border-color: #5B8FD2;
	width: 70px;
	height: 25px;
	line-height: 100%;
}

#resume_open{
	color: #999999;
	font-size: 11px;
	border-bottom: 1px solid #999999;
	margin-top: 10%;
}

#profile_img{
	width: 60px;
	height: 60px;
	float: left;
	padding-left: 10px;
}

#icon{
	width: 24px;
	height: auto;
	margin-right: 5px;
}

#trash_icon{
	width: 20px;
	height: auto;
	float: right;
}

#each_{
	height: 90%;
	width: 100%;
	display: flex;
}