button{
	border:none;
	background:none;
}

.area .search_area {
    width:45%;
    padding-left:55%;
}

#searchForm{
	display: flex;
}

.date_search{
	display:flex;
	width:47%;
	background: #FAFAFA 0% 0% no-repeat padding-box;
    border: 0.5px solid #999999;
    border-radius: 3px;
}

.date_search .date_input{
	width: 85%;
	display: flex;
}

.date_search .calendar_start{
	border:none;
	background:none;
	padding-left: 15px;
    width: 30%;
    font-size: 13px;
}

.date_search .calendar_end{
	border:none;
	background:none;
    width: 30%;
    font-size: 13px;
    padding-left: 5px;
}

.date_search .date_div{
	height: 40px;
    line-height: 40px;
    color: #666666;
/*     width:5%; */
}

.date_search .calendar_button{
	width: 15%;
    display: flex;
}

.calendar_button .search_img{
	margin: 0 auto;
    cursor: pointer;
}

#searchDate{
	border:none;
	background:none;
	padding-left:15px;
}

.text_search{
	display:flex;
	width:53%;
	margin-left:25px;
}

.word_search {
    width: 85%;
    height: 40px;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    border: 0.5px solid #999999;
    border-radius: 3px 0 0 3px;
    opacity: 1;
    border-right: none;
    padding-left: 15px;
}

.text_search .search_button{
	width: 15%;
    display: flex;
    border: 0.5px solid #999999;
    border-left: none;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    border-radius: 0 3px 3px 0;
}

.search_button .search_img{
	margin: 0 auto;
	cursor: pointer;
}

.list {
	margin-top:20px;
    min-height: 618px;
    overflow: hidden;
}

.list #top_ol {
    font-weight: bold;
    border-top: 1px solid #BBBBBB;
    border-bottom: 1px solid #BBBBBB;
    display: flex;
    flex-direction: row;
    font-weight: 600;
    box-shadow: 0px 3px 6px #0000000d;
}

#top_ol div li {
    display:inline-block;
    margin-top:17.5px;
    margin-bottom:17.5px;
    color: #666666;
}

.list_ol{
	display: flex;
	border-bottom: 1px solid #DDDDDD;
	line-height: 55px;
	height: 55px;
	font-weight: 600;
    font-size: 14px;
}

.list_ol:hover {
    background-color: #5B8FD208;
}

#date_area {
	width: 7%;
	text-align: center;
	margin-left: 3%;
}

#event_area {
	width: 10%;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
}

#name_area {
	width: 4%;
	text-align: center;
	color: #5b8fd2;
}

#contact_area {
	width: 8%;
	text-align: center;
	color: #5b8fd2;
}

#start_area, #outing_area, #comeback_area, #end_area, #total_time_area {
	width: 5%;
	text-align: center;
}

#total_time_area {
	color: #dd5067;
}

#new_update {
	width: 4%;
}

#update_btn, #check_btn, #close_btn {
	border: none;
	background-color:transparent;
	cursor:pointer;
}
.time_update {
	display:none;
}

.time_update input{
	width:55px;
	margin-left: 8px;
	font-size: 15px;
	text-align:center;
}
.date_area_staff {
	width: 15%;
	text-align: center;
	margin-left: 3%;
}
.event_area_staff {
	width: 30%;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
}

.start_area_staff, .outing_area_staff, .comeback_area_staff,
	.end_area_staff {
	width: 13%;
	text-align: center;
}

.btns_div {
	display:flex;
}
.pen_btn {
padding-left:10px;
}
#check_btn, #close_btn {
/* 	width:50%; */
	display:none;
}

#close_btn { 
	padding-left: 10px;
	}
.input_wrap {
display:none;	
}

/* 페이징 */
.null, .notnull_keyword, .notnull_date, .notnull_all{
    width: 100%;
    height: 80px;
    position: relative;
}
.pagewrap{
	display: flex;
	position: absolute;
	/* right: 40px;
	margin-top: 57px; */
    right: 0; bottom: 0;
}

.pagewrap li{
	margin-left: 10px;
    width: 30px;
    height: 30px;
    text-align: center;
/*     border: 1px solid #DDDDDD; */
}

.pagewrap .page_icon{
	border: 1px solid #DDDDDD;
}

.pagewrap li a{
	line-height: 30px;
	color: #999999;
}

.pagewrap img{
	width: 10px;
	height: 10px;
}

.page-link{
	display:block;
}

.icon_right{
	padding-right:10px;
}
.icon_left{
	padding-left:10px;
}


.page-item .thisPage{
    color: #333;
    border: 1px solid #DDDDDD;
}