@charset "utf-8";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

/* reset */

*{margin: 0; padding: 0; font-family: 'pretendard'; color: #333333}
ol,ul,li{list-style: none;}
a{text-decoration: none; color: #333333;}
a:visited{color: #333333;}
img{border: 0; width: 100%;}
input:focus-visible, textarea:focus-visible{outline: none;}

body {background:#F8F9FB;}

/* fixed menu */
.sidebar{
    width: 10%;
    max-width: 180px;
    min-width: 150px;
    height: 100%;
    background-color: #5B8FD2;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    box-shadow: 3px 0 6px rgba(0,0,0,0.1);
    z-index: 99;
}

.Msidebar{
    background-color: #5d7089;
}

.logo{
    display: block;
    top: 0;
    height: 105px;
    line-height: 105px;
    text-align: center;
}

.sidebar .logo img{
    width: 130px;
    margin: 38px auto;
}

.menu-categories{
    overflow: hidden;
}


.menu-categories .menu{
    position: relative;
    box-sizing: border-box;
    border-left: 10px solid #ffffff00;
}

.menu-categories .menu:hover{
    background-color: #7CA6DB;
}

.menu-categories .selected{
    background-color: #7CA6DB;
    border-left: 10px solid #ffffff99 ;
}

.Mcategories .menu:hover, .Mcategories .selected{
    background-color: #8494a9;
}


.menu-categories .menu a{
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.menu-categories .menu a div{
    flex-direction: column;
    text-align: center;
}

.menu-categories .menu a div img{
    width: 40px;
}

.menu-categories .menu a div span{
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    display: block;
}

.side_info{
    width: 100%; 
    position: absolute;
    bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
}

.side_info p{
    color: #ffffff;
    font-size: 13px;
}

.side_info .info_img{
    width: 70px; height: 70px;
    border-radius: 50%;
    box-shadow: 0px 3px 6px #33333329;
    background-color: #ffffff;
    margin: 2px 0;
    overflow: hidden;
}

.side_info .info_img img{
    width: 100%; height: 100%;
    object-fit: cover;
}

.side_info b{
    font-weight: 800;
    color: #ffffff;
}

.info_staff{
    justify-content: flex-end;
    gap: 5px;
}


.side_info button{
    width: 145px; height: 25px;
    margin-top: 30px;
    border: 1px solid #ffffff;
    background-color: #00000000;
    color: #ffffff;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}
.side_info button:hover{
    background-color: #ffffff30;
}
.side_info button img{
    width: 11px;
    height: 11px;
}

/*side 세로대응*/
@media ( max-height: 820px ){
	.side_info .info_img{
		display: none;
	}
	.menu-categories{
		display: block;
    	height: 55%;
	}
	.menu-categories .menu{
		height: 25%;
	}
	.menu-categories .menu a{
		height: 100%;
	}
}

/*  */


/* common css */
.content{
    position:relative;
    width :95%;
    /* width: calc(100% - 200px); */
    /* margin-left: 200px; */
    /* height: 100vh; */
    display: flex;
    min-width: 1425px;
    padding-right: 40px;
}

.container{
    width: 85%;
    /*  margin: 0 auto;*/
    /* height: 100vh; */
}

/* sidebar와의 간격조정을 위해 */
.content::before{
	content:"";
    display: block;
	width: 18%;
    max-width: 320px;
    min-width: 250px;
}

.page-header {
    width: 100%;
    height: 105px;
    line-height: 105px;
    position: relative;
    max-width: 1440px;
}

.page-header span{
    font-weight: 500;
    font-size: 25px;
    color: #333;
}


.excel_download{
    width: 250px; height: 50px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px #0000000D;
    border-radius: 50px;
    padding-left: 70px;
    box-sizing: border-box;
    line-height: 50px;
    font-size: 16px; font-weight: 500;
    position: absolute;
    top: 30px; right: 0;
    cursor: pointer;
    background-image: url("/imgs/excel.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 25px;
}

.excel_submit {
    border:0;
    font-size:16px;
    cursor:pointer;
    width: 100%; height: 100%;
    position: absolute;
    left: 0;
    padding-left: 30px;
}
.detail_bar {
    display:flex;
    width:100%;
    border-bottom:1px solid #DDDDDD;
    max-width: 1440px;
}

.detail_bar .detail1, .detail_bar .detail2{
    width: auto;
    display: flex; gap: 10px;
    align-items: center;
    height: 30px;
    cursor: pointer;
    border-bottom: 3px solid #00000000;
    margin-right: 40px;
}

.detail_bar .this_bar, .detail_bar>div:hover{
    border-bottom: 3px solid #5B8FD2;
}
.detail_bar .this_bar p, .detail_bar .this_bar button{
    color:#333333;
}

.detail_bar img {
    width:14px; height: 14px;
}

.detail_bar p, .detail_bar button {
    font-size: 16px;
    font-weight: 500;
    color: #999999;
    background: none;
    border: 0;
}


.area{
    position:relative;
    width: 100%; height: auto;
    max-width: 1440px; min-height: 720px;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px #0000000D;
    border-radius: 10px;
    padding: 60px;
    box-sizing: border-box;
    margin-bottom: 40px;
}

/* datepicker UI수정 */

.ui-widget{
    font-family: 'pretendard';
    padding: 10px;
}

.ui-widget-header{
    border: 0;
    background: #fff;
}

.ui-datepicker td span, .ui-datepicker td a{
    text-align: center;
    height: 20px;
    width: 20px;
    line-height: 20px;
    border-radius: 50%;
    margin: 5px;
    font-weight: 600 !important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
    background:#ffffff;
    border:0;
}
.ui-state-hover{
    background: #eee !important;
}
.ui-state-active{
    background: #FFD0DE !important;
    color: #333 !important;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
    color: #ff7070 !important;
}


.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default, .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current, .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div.xdsoft_current{
    background: #FFD0DE;
    color: #333;
    box-shadow : none;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover, .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div:hover{
    color: #333 !important;
    background: #ddd !important;
}

.xdsoft_datetimepicker .xdsoft_calendar td, .xdsoft_datetimepicker .xdsoft_calendar th{
    background: #fff;
}

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    width: 45%;
    font-family: 'pretendard';
    font-weight: 800;
    border: 0;
    outline: none;
    text-align: center;
}

.ui-datepicker-calendar th span{
	color: #999999;
	font-weight: 300;
}

/* daterangepicker ui 수정 */
.daterangepicker{
	right: 532.062px;
}
