@charset "utf-8";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

/* reset */

*{margin: 0; padding: 0; font-family: 'pretendard'; color: #333333}
ul,li{list-style: none;}
a{text-decoration: none; color: #333333;}
a:visited{color: #333333;}
img{border: 0; width: 100%;}
input:focus-visible, textarea:focus-visible{outline: none;}

body {background:#F8F9FB;}

/* fixed menu */
.sidebar{
    width: 10%;
    max-width: 180px;
    height: 100%;
    background-color: #5B8FD2;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    box-shadow: 3px 0 6px rgba(0,0,0,0.1);
}

.logo{
    display: block;
    top: 0;
    height: 120px;
    line-height: 120px;
    text-align: center;
}

.sidebar .logo img{
    width: 140px;
    margin: 0 auto;
}

.menu-categories{
    overflow: hidden;
}


.menu-categories .menu{
    position: relative;
    box-sizing: border-box;
    border-left: 10px solid #ffffff00;
}

.menu-categories .menu:hover{
    background-color: #7CA6DB;
    border-left: 10px solid #ffffff99 ;
}

.menu-categories .selected{
    background-color: #7CA6DB;
    border-left: 10px solid #ffffff99 ;
}

.menu-categories .menu a{
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.menu-categories .menu a div{
    flex-direction: column;
    text-align: center;
}

.menu-categories .menu a div img{
    width: 40px;
}

.menu-categories .menu a div span{
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    display: block;
}

.side_info{
    width: 100%; height: 130px;
    position: absolute;
    bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.side_info p{
    color: #ffffff;
    font-size: 14px;
}

.side_info .info_img{
    width: 70px; height: 70px;
    border-radius: 50%;
    box-shadow: 0px 3px 6px #33333329;
    background-color: #ffffff;
    transform: translateY(-5px);
}

.side_info p:last-child{
    font-weight: 600;
}

/* datepicker UI수정 */

.ui-widget{
    font-family: 'pretendard';
    padding: 10px;
}

.ui-widget-header{
    border: 0;
    background: #fff;
}

.ui-datepicker td span, .ui-datepicker td a{
    text-align: center;
    height: 20px;
    width: 20px;
    line-height: 20px;
    border-radius: 50%;
    margin: 5px;
    font-weight: 600 !important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
    background:#ffffff;
    border:0;
}
.ui-state-hover{
    background: #eee !important;
}
.ui-state-active{
    background: #FFD0DE !important;
    color: #333 !important;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
    color: #ff7070 !important;
}


.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default, .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current, .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div.xdsoft_current{
    background: #FFD0DE;
    color: #333;
    box-shadow : none;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover, .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div:hover{
    color: #333 !important;
    background: #ddd !important;
}

.xdsoft_datetimepicker .xdsoft_calendar td, .xdsoft_datetimepicker .xdsoft_calendar th{
    background: #fff;
}