*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}
body{
    font-family: 'pretendard';
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px;
}

.download_area {
    display: flex;
    position: absolute;
    top: 0;
}

#pdf {
    margin-top: 20px;
    position: relative;
}

#close_btn {
    margin-left: 480px;
}

.line {
    border: 1px solid;
    width: 90%;
    position: relative;
    margin: 30px 0;
}

#title_text {
    text-align: center;
    font: normal normal 600 20px/24px Pretendard;
    letter-spacing: 40px;
    color: #333333;
    margin: 30px 0;
}

.profile_img{
	display: flex;
}

#img_file {
    width: 160px;
    height: 160px;
    display: flex;
    align-items: center;
    margin-right: 30px;
    border: 1px solid red;
}

#img {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

#pdf_text {
    margin-top: 18px;
    position: relative;
    margin-left: 5px;
}

#pdf_text_ {
    color: #333333;
    font-size: 14px;
    font: normal normal 300 14px/17px Pretendard;
    letter-spacing: -0.28px;
}