<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 변경</title>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
<form>
    <div th:if="" th:replace="~{common/side :: sidebar_manage ('main')}"></div>
    <div th:unless th:replace="~{common/sideforstaff :: sidebar_manage ('main')}"></div>

    <form>
        <input type="hidden" name="user_id" th:value="${user_id}">
        <input type="password" name="user_pw" placeholder="영문 대소문자/숫자/특수문자 중 2가지 이상조합, 10-16자" value="">
        <input type="password" id="checked_pw" placeholder="비밀번호 확인" value="">

        <input type="button" id="submit_btn" value="비밀번호 변경">
    </form>

</form>
<style>

</style>
<script>
    $(function() {

        $("#submit_btn").click(function() {
            if($("input[name=user_pw]").val() == "") {
                alert("비밀번호를 입력해주세요.");
                return false;
            }
            else if($("#checked_pw").val() == "") {
                alert("비밀번호를 입력해주세요.");
                return false;
            }
            // 비밀번호가 다를 경우
            else if($("input[name=user_pw]").val() != $("#checked_pw").val()) {
                alert("비밀번호가 일치하지 않습니다.");
                return false;
            }

            // ajax로 /updatePw 호출
            $.ajax({
                url: "/updatePw",
                type: "POST",
                data: {
                    user_id: $("input[name=user_id]").val(),
                    user_pw: $("input[name=user_pw]").val(),
                },
                success: function(data) {
                    alert("비밀번호가 변경되었습니다.");
                    if(data==0) location.href="/main";
                    else location.href="/main_ForStaff";
                }
            })
        })
    })
</script>
</body>
</html>