<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>비밀번호 변경</title>
        <link rel="stylesheet" href="changing_pw.css">
    </head>
    <body>
        <div id="wrap">
            <!-- 화면 중앙 기준, 좌측 화면 -->
            <div class="login_comment">
                <p>다양한 행사에 참여하고<br/>운영요원이 되어 경험을 쌓아보세요!</p>
            </div>
            <div class="login_img_area">
                <div class="login_img"></div>
            </div>

            <!-- 화면 중앙 기준, 우측 화면 -->
            <div class="process_join">
                <ul>
                    <li class="active">약관동의</li>
                    <li class="active">회원정보</li>
                    <li class="active">가입완료</li>
                </ul>
            </div>

            <!-- 비밀번호 변경 -->
            <div class="changing_pw">
                <div class="changing_pw_comment">
                    <p>비밀번호 재설정</p>
                    <p>기존 비밀번호는 암호화 처리되어 안내가 불가능하오니,<br/>새로운 비밀번호를 등록해 주시기 바랍니다.</p>
                </div>

                <div>
                    <form action="">
                        <p>새로운 비밀번호</p>
                        <input type="password" placeholder="영문, 숫자, 특수기호 중 2가지 이상 조합, 10자~16자">
                        <p>비밀번호 확인</p>
                        <input type="password" placeholder="영문, 숫자, 특수기호 중 2가지 이상 조합, 10~16자">

                        <input type="button" value="비밀번호 저장">
                        <input type="button" value="로그인 화면으로 돌아가기">
                    </form>
                </div>
            </div>

            
        </div>
    </body>
</html>
