<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>비밀번호 변경 완료</title>
        <link rel="stylesheet" href="/css/changed_pw.css">
    </head>
    <body>
        <div id="wrap">
            <!-- 화면 중앙 기준, 좌측 화면 -->
            <div class="login_comment">
                <p>다양한 행사에 참여하고<br/>운영요원이 되어 경험을 쌓아보세요!</p>
            </div>
            <div class="login_img_area">
                <div class="login_img"></div>
            </div>

            <!-- 화면 중앙 기준, 우측 화면 -->
            <div class="process_join">
                <ul>
                    <li class="active">약관동의</li>
                    <li class="active">회원정보</li>
                    <li class="active">가입완료</li>
                </ul>
            </div>

            <!-- 비밀번호 변경 완료 -->
            <div class="changed_complete">
                <div class="check_img"></div>
                <h2>비밀번호가 변경되었습니다.</h2>
                <p>새로운 비밀번호로 로그인 해보세요.</p>
                <input type="button" value="로그인하기" class="goto_login_btn" onclick="">
            </div>

            
        </div>
    </body>
</html>