<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이벤터즈랩(eventusLAB)</title>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/1.0.12/jsrender.min.js"></script>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="/css/manage_event.css">
</head>
<body>
    <div id="wrap">
        <div th:replace="~{common/sideforstaff :: sidebar_manage ('schedule')}"></div>

        <!-- main -->
        <div class="content">
            <div class="container">
                <div class="page-header">
                    <div class="page-title">
                        <span>행사목록</span>
                    </div>
                </div>

                <div class="detail_bar">
                    <div class="detail1 this_bar" onclick="location.href='manage_event'">
                        <img src="imgs/Icon material-view-list.svg">
                        <p>행사현황</p>
                    </div>
                </div>

                <div class="area">
                    <div class="search_area">
                        <form id="searchForm" th:action="@{/eventList_ForStaff}" method="get">
	                        <input type="text" class="calendar">
	                        <div class="text_search">
	                        	<input type="text" class="word_search" placeholder="검색" name="searchKeyword">
	                        	<div class="search_button">
	                        		<button type="submit" class="search_img"><img src="imgs/search_btn.svg"></button>
	                        	</div>
	                        </div>
                        </form>
                    </div>
                    

                    <ul class="list">
                        <ol id="top_ol">
                            <div id="index_area_s"><li>No</li></div>
                            <div id="title_area_s"><li>행사명</li></div>
                            <div id="date_area_s"><li>행사기간</li></div>
                            <div id="status_area_s"><li>진행현황</li></div>
                        </ol>
						<ol th:each="event : ${event_list}" id="list_ol">
							<!-- status 따라서 color 변경  -->
							<div id="index_area_s">
                                <li th:text="${pagination.totalListCnt - eventStat.index - ((nowpage - 1)*10)}" th:if="${event.event_status == 0}" class="red"></li>
                                <li th:text="${pagination.totalListCnt - eventStat.index - ((nowpage - 1)*10)}" th:if="${event.event_status == 1}" class="black"></li>
                                <li th:text="${pagination.totalListCnt - eventStat.index - ((nowpage - 1)*10)}" th:if="${event.event_status == 2}" class="black"></li>
                                <li th:text="${pagination.totalListCnt - eventStat.index - ((nowpage - 1)*10)}" th:if="${event.event_status == 3}" class="gray"></li>

<!-- 								<li class="eventlist"></li> -->
							</div>
							
							<div id="title_area_s">
							<a th:href="@{eventDetail_forStaff(id=${event.id})}" th:if="${event.event_status == 0}"><li th:text="${event.event_title}" class="red"></li></a>
							<a th:href="@{eventDetail_forStaff(id=${event.id})}" th:if="${event.event_status == 1}"><li th:text="${event.event_title}" class="black"></li></a>
							<a th:href="@{eventDetail_forStaff(id=${event.id})}" th:if="${event.event_status == 2}"><li th:text="${event.event_title}" class="black"></li></a>
							<a th:href="@{eventDetail_forStaff(id=${event.id})}" th:if="${event.event_status == 3}"><li th:text="${event.event_title}" class="gray"></li></a>
							</div>
							
							<div id="date_area_s">
							<li th:text="${event.event_startDate} + ' - ' + ${event.event_endDate}" th:if="${event.event_status == 0}" class="red"></li>
							<li th:text="${event.event_startDate} + ' - ' + ${event.event_endDate}" th:if="${event.event_status == 1}" class="black"></li>
							<li th:text="${event.event_startDate} + ' - ' + ${event.event_endDate}" th:if="${event.event_status == 2}" class="black"></li>
							<li th:text="${event.event_startDate} + ' - ' + ${event.event_endDate}" th:if="${event.event_status == 3}" class="gray"></li>
							</div>
							
							<div id="status_area_s">
							<li th:if="${event.event_status == 0}" class="red">모집중</li>
							<li th:if="${event.event_status == 1}" class="black">모집완료</li>
							<li th:if="${event.event_status == 2}" class="black">진행중</li>
							<li th:if="${event.event_status == 3}" class="gray">진행완료</li>
							</div>
							
						</ol>
                    </ul>    
                                
                    <!-- 페이징 -->
                    
                    <!-- 검색 안했을 때  -->
                    <div th:if="${searchKeyword == null}" class="null"> 
                        <ul class="pagewrap">
                            <li>
                            	<a class="page-link" id="page_icon" th:href="@{eventList_ForStaff?page=1}"><img src="imgs/page_start_btn.svg"></a>
                            </li>
                            <li class="icon_right">
                            	<a class="page-link" id="page_icon" th:if="${nowpage == 1}" th:href="@{eventList_ForStaff?page={page} (page = ${nowpage})}"><img src="imgs/page_back_btn.svg"></a>
                            	<a class="page-link" id="page_icon" th:if="${nowpage != 1}" th:href="@{eventList_ForStaff?page={page} (page = ${nowpage}-1)}"><img src="imgs/page_back_btn.svg"></a>
                            </li>
                             <th:block  th:with="start = ${pagination.startPage}, end = ${pagination.endPage}">
							    <li class="page-item" 
							    		 th:with="start = ${pagination.startPage}, end = ${pagination.endPage}"
							    		th:each="pageButton : ${#numbers.sequence(start, end)}">
							    		<a class="page-link" id="page_num" th:href="@{eventList_ForStaff?page={page} (page = ${pageButton})}" th:text=${pageButton}></a>
							    </li>
						    </th:block>
                            <li class="icon_left">
                            	<a class="page-link" id="page_icon" th:if="${nowpage == pagination.endPage}" th:href="@{eventList_ForStaff?page={page} (page = ${nowpage})}"><img src="imgs/page_next_btn.svg"></a>
                            	<a class="page-link" id="page_icon" th:if="${nowpage != pagination.endPage}" th:href="@{eventList_ForStaff?page={page} (page = ${nowpage}+1)}"><img src="imgs/page_next_btn.svg"></a>
                            </li>
                            <li>
                            	<a class="page-link" id="page_icon" th:href="@{eventList_ForStaff?page={page} (page = ${pagination.totalPageCnt})}"><img src="imgs/page_end_btn.svg"></a>
                            </li>
                        </ul>
                    </div>
                    
                    <!-- 검색했을 때  -->
                    <div th:if="${searchKeyword != null}" class="notnull">
                        <ul class="pagewrap">
                            <li>
                            	<a class="page-link" id="page_icon" th:href="@{eventList_ForStaff?searchKeyword={key}&page=1 (key = ${searchKeyword})}"><img src="imgs/page_start_btn.svg"></a>
                            </li>
                            <li class="icon_right">
                            	<a class="page-link" id="page_icon" th:if="${nowpage == 1}" th:href="@{eventList_ForStaff?searchKeyword={key}&page={page} (key = ${searchKeyword}, page = ${nowpage})}"><img src="imgs/page_back_btn.svg"></a>
                            	<a class="page-link" id="page_icon" th:if="${nowpage != 1}" th:href="@{eventList_ForStaff?searchKeyword={key}&page={page} (key = ${searchKeyword}, page = ${nowpage}-1)}"><img src="imgs/page_back_btn.svg"></a>
                            </li>
                             <th:block  th:with="start = ${pagination.startPage}, end = ${pagination.endPage}">
							    <li class="page-item" 
							    		 th:with="start = ${pagination.startPage}, end = ${pagination.endPage}"
							    		th:each="pageButton : ${#numbers.sequence(start, end)}">
							    		<a class="page-link" id="page_num" th:href="@{eventList_ForStaff?searchKeyword={key}&page={page} (key = ${searchKeyword}, page = ${pageButton})}" th:text=${pageButton}></a>
							    </li>
						    </th:block>
                            <li class="icon_left">
                            	<a class="page-link" id="page_icon" th:if="${nowpage == pagination.endPage}" th:href="@{eventList_ForStaff?searchKeyword={key}&page={page} (key = ${searchKeyword}, page = ${nowpage})}"><img src="imgs/page_next_btn.svg"></a>
                            	<a class="page-link" id="page_icon" th:if="${nowpage != pagination.endPage}" th:href="@{eventList_ForStaff?searchKeyword={key}&page={page} (key = ${searchKeyword}, page = ${nowpage}+1)}"><img src="imgs/page_next_btn.svg"></a>
                            </li>
                            <li>
                            	<a class="page-link" id="page_icon" th:href="@{eventList_ForStaff?searchKeyword={key}&page={page} (key = ${searchKeyword}, page = ${pagination.totalPageCnt})}"><img src="imgs/page_end_btn.svg"></a>
                            </li>
                        </ul>
                    </div>
                    
                    <script th:inline="javascript">
                    	var searchWord = /*[[${searchKeyword}]]*/
                    	var nowpage = /*[[${nowpage}]]*/
                    	console.log(nowpage);
                    </script>
                </div>
            </div>
        </div>
</body>
</html>