<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>로그인 페이지</title>
		<link rel="stylesheet" href="/css/login.css?3334">
	</head>
	<body>
		<div id="wrap">
			<div class="login_comment">
				<p>다양한 행사에 참여하고<br/>운영요원이 되어 경험을 쌓아보세요!</p>
			</div>
			<div class="login_img_area">
				<div class="login_img"></div>
			</div>
			
			<div class="login_word">
				<p>로그인</p>
			</div>

			<!-- 로그인 입력 -->
			<div class="login_position">
				<form action="LoginProc">
					<p>아이디</p>
					<input type="text" placeholder="아이디를 입력해주세요." class="id_pw_btn">
					<p>비밀번호</p>
					<input type="password" placeholder="비밀번호를 입력해주세요." class="id_pw_btn">
					<div class="check_wrap">
						<!-- 아이디 저장 체크박스 -->
						<div class="idcheck">
							<input type="checkbox" id="chk_id">
							<label for="chk_id"><span>아이디 저장</span></label>
						</div>

						<!-- 아이디/비밀번호 찾기 -->
						<div class="idfind">
							<a href="#"><span>아이디</span></a>
							<span>/</span>
							<a href="#"><span>비밀번호 찾기</span></a>
						</div>
					</div>
					<input type="submit" value="로그인" class="login_btn">
					<input type="button" value="회원가입" class="join_btn" onclick="location.href='/join1'">
				</form>
			</div>
		</div>
	</body>
</html>