<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이벤터즈랩(eventusLAB)</title>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/1.0.12/jsrender.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div id="wrap">

    <div th:replace="~{common/sideforstaff :: sidebar_manage ('main')}"></div>
        <!-- main -->
        <div class="content">
            <div class="container">
                <div class="page-header">
                    <div class="page-title">
                        <span>안녕하세요! [[${session.user_name}]]님</span>
                    </div>
                </div>
                <div class="main_area">
                    <div class="L_area">
                        <div class="L_con1">
                            <p class="area_title">최근 행사</p>
                            <div class="event_btn">
                                <button type="button" onclick="list_pre()"><</button>
                                <button type="button" onclick="list_next()">></button>
                            </div>
                            <div class="event_box_wrap">
                                <div class="event_box_in">
                                    <a th:each="event : ${event_list}" th:href="'eventDetail_forStaff?id='+${event.id}" class="event_box">
                                        <div th:if="${event.event_status == 0}" class="eventStat recruiting"></div>
                                        <div th:if="${event.event_status == 1}" class="eventStat completed"></div>
                                        <div th:if="${event.event_status == 2}" class="eventStat ongoing"></div>
                                        <div th:if="${event.event_status == 3}" class="eventStat onend"></div>
                                        <p>[[${event.event_title}]]</p>
                                        <p>[[${event.event_venue}]]</p>
                                    </a>
                                </div>
                            </div>
                        </div>
        
                        <div class="area1_2">
                            <p class="area_title">대기 중인 지원</p>
                            <a class="link" href="/manage_career_forstaff">더보기</a>
                            <div class="app_list">
                                <p class="empty" th:if="${app_list.size == 0}">지원 내역이 없습니다.</p>
                                <div th:each="app : ${app_list}" class="app_line">
                                    <a class="app_title" th:href="'/eventDetail_forStaff?id='+${app.id}">[[${app.event_title}]]</a>
                                    <div class="app_date date_set">[[${app.app_created_at}]]</div>
                                    <div th:if="${app.staff_result==0}" class="app_btn_forstaff wait"></div>
                                    <div th:if="${app.staff_result==1}" class="app_btn_forstaff pass"></div>
                                    <div th:if="${app.staff_result==2}" class="app_btn_forstaff nonpass"></div>
                                </div>
                            </div>
                        </div>
        
                    </div>
                    <div class="R_area">
                        <div class="area2">
                            <p class="area_title">나의 근무 기록</p>
                            <a class="link" href="/report_work_ForStaff">더보기</a>
                            <div class="record_list">
                                <p class="empty" th:if="${report_work_list.size == 0}">근무기록 내역이 없습니다.</p>
                                <div th:each=" work : ${report_work_list}" class="record_line">
                                    
                                    <div class="recode_info">
                                        <div class="record_event">[[${work.event_title}]]</div>
                                        <div class="record_date date_set">[[${work.work_date}]]</div>
                                    </div>
                                    <div class="record_time">
                                        <p>출근</p>
                                        <p class="time_set">[[${work.work_start_time}]]</p>
                                    </div>
                                    <div class="record_time">
                                        <p>외출</p>
                                        <p class="time_set">[[${work.work_outing_time}]]</p>
                                    </div>
                                    <div class="record_time">
                                        <p>복귀</p>
                                        <p class="time_set">[[${work.work_comeback_time}]]</p>
                                    </div>
                                    <div class="record_time">
                                        <p>퇴근</p>
                                        <p class="time_set">[[${work.work_end_time}]]</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>