<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이벤터즈랩(eventusLAB)</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div id="wrap">
        <!-- fixed menu -->
        <div class="sidebar">
            <a href="#" class="logo">
                <img src="../../../../../../../eventus_front/logo.png" alt="eventusLAB">
            </a>
            <ul class="menu-categories">
                <li class="menu">
                    <a href="#">
                        <div>
                            <img src="main.svg" alt="main">
                            <span>메인</span>
                        </div>
                    </a>
                </li>ㅋ
                <li class="menu">
                    <a href="#">
                        <div>
                            <img src="schedule.svg" alt="schedule">
                            <span>행사목록</span>
                        </div>
                    </a>
                </li>
                <li class="menu">
                    <a href="/manage_career_forstaff">
                        <div>
                            <img src="stafflist.svg" alt="stafflist">
                            <span>이력관리</span>
                        </div>
                    </a>
                </li>
                <li class="menu">
                    <a href="#">
                        <div>
                            <img src="timesheet.svg" alt="timesheet">
                            <span>근무기록</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <!-- main -->
        <div class="content">
            <div class="container">
                <div class="page-header">
                    <div class="page-title">
                        <span>안녕하세요! 서강준님</span>
                    </div>
                </div>
                <div class="area">
                    <div class="area1">
                        <div class="area1_1"><p class="area_title">최근 행사</p></div>
                        <div class="area1_2"><p class="area_title">최근 지원 현황</p></div>
                    </div>
                    <div class="area2">
                        <p class="area_title">나의 근무 기록</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이벤터즈랩(eventusLAB)</title>
    <link rel="stylesheet" href="../../../../../../../eventus_front/main.css">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css" />
</head>
<body>
    <div id="wrap">
        <!-- fixed menu -->
        <div class="sidebar">
            <a href="#" class="logo">
                <img src="../../../../../../../eventus_front/logo.png" alt="eventusLAB">
            </a>
            <ul class="menu-categories">
                <li class="menu">
                    <a href="#">
                        <div>
                            <img src="main.svg" alt="main">
                            <span>메인</span>
                        </div>
                    </a>
                </li>ㅋ
                <li class="menu">
                    <a href="#">
                        <div>
                            <img src="schedule.svg" alt="schedule">
                            <span>행사목록</span>
                        </div>
                    </a>
                </li>
                <li class="menu">
                    <a href="#">
                        <div>
                            <img src="stafflist.svg" alt="stafflist">
                            <span>이력관리</span>
                        </div>
                    </a>
                </li>
                <li class="menu">
                    <a href="#">
                        <div>
                            <img src="timesheet.svg" alt="timesheet">
                            <span>근무기록</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <!-- main -->
        <div class="content">
            <div class="container">
                <div class="page-header">
                    <div class="page-title">
                        <span>안녕하세요! 서강준님</span>
                    </div>
                </div>
                <div class="area">
                    <div class="area1">
                        <div class="area1_1"><p class="area_title">최근 행사</p></div>
                        <div class="area1_2"><p class="area_title">최근 지원 현황</p></div>
                    </div>
                    <div class="area2">
                        <p class="area_title">나의 근무 기록</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>