<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이벤터즈랩(eventusLAB)</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div id="wrap">
    
        <!-- 어떤 메뉴를 쓸지 파라미터로 넘겨야 합니다 -->

    <!-- 

        사이드바가 올 자리에
        <div th:replace="~{common/side :: sidebar_manage ('***')}"></div>

        *** ↓↓↓
        메인 = main
        행사관리 = schedule
        직원관리 = stafflist
        근무기록 = timesheet



     -->
    
    <div th:replace="~{common/side :: sidebar_manage ('main')}"></div>
        <!-- main -->
        <div class="content">
            <div class="container">
                <div class="page-header">
                    <div class="page-title">
                        <span>(주)포유커뮤니케이션즈</span>
                    </div>
                </div>
                <div class="area">
                    <div class="area1">
                        <div class="area1_1"><p class="area_title">최근 행사</p></div>
                        <div class="area1_2"><p class="area_title">대기 중인 지원</p></div>
                    </div>
                    <div class="area2">
                        <p class="area_title">직원 근무 기록</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>