<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이벤터즈랩(eventusLAB)</title>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/css/manage_event.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css" />
</head>
<body>
    <div id="wrap">
        <div th:replace="~{common/side :: sidebar_manage ('schedule')}"></div>

        <!-- main -->
        <div class="content">
            <div class="container">
                <div class="page-header">
                    <div class="page-title">
                        <span>행사관리</span>
                    </div>
                    <div class="excel_download">
                        엑셀 데이터 다운로드
                    </div>
                </div>

                <div class="detail_bar">
                    <div class="detail1 this_bar" onclick="location.href='manage_event'">
                        <img src="imgs/Icon material-view-list.svg">
                        <p>행사현황</p>
                    </div>
                    <div class="detail2" onclick="location.href='manage_event_register'">
                        <img src="imgs/pen_gray.svg">
                        <p>행사등록</p>
                    </div>
                </div>

                <div class="area">
                    <div class="search_area">
                        <input type="text" class="calendar">
                        <input type="text" class="word_search">
                    </div>
                    

                    <ul class="list">
                        <ol id="top_ol">
                            <div id="index_area"><li>No</li></div>
                            <div id="title_area"><li>행사명</li></div>
                            <div id="date_area"><li>행사기간</li></div>
                            <div id="status_area"><li>진행현황</li></div>
                            <div id="count_area"><li>지원현황</li></div>
                            <div id="count_area"><li>부스현황</li></div>
                        </ol>
						<ol th:each="event : ${event_list}" id="list_ol">
							<!-- status 따라서 color 변경  -->
							<div id="index_area">
							<li th:text="${event.id}" th:if="${event.event_status == 0}" class="red"></li>
							<li th:text="${event.id}" th:if="${event.event_status == 1}" class="black"></li>
							<li th:text="${event.id}" th:if="${event.event_status == 2}" class="gray"></li>
							</div>
							
							<div id="title_area">
							<a th:href="@{eventDetail(id=${event.id})}" th:if="${event.event_status == 0}"><li th:text="${event.event_title}" class="red"></li></a>
							<a th:href="@{eventDetail(id=${event.id})}" th:if="${event.event_status == 1}"><li th:text="${event.event_title}" class="black"></li></a>
							<a th:href="@{eventDetail(id=${event.id})}" th:if="${event.event_status == 2}"><li th:text="${event.event_title}" class="gray"></li></a>
							</div>
							
							<div id="date_area">
							<li th:text="${event.event_startDate} + ' - ' + ${event.event_endDate}" th:if="${event.event_status == 0}" class="red"></li>
							<li th:text="${event.event_startDate} + ' - ' + ${event.event_endDate}" th:if="${event.event_status == 1}" class="black"></li>
							<li th:text="${event.event_startDate} + ' - ' + ${event.event_endDate}" th:if="${event.event_status == 2}" class="gray"></li>
							</div>
							
							<div id="status_area">
							<li th:if="${event.event_status == 0}" class="red">모집중</li>
							<li th:if="${event.event_status == 1}" class="black">진행중</li>
							<li th:if="${event.event_status == 2}" class="gray">진행완료</li>
							</div>
							
							<div id="a_count">
							<a th:if="${event.event_status == 0}" th:href="@{application_modal(id=${event.id})}"><li th:text="${event.application_count} + ' 명'" class="red"></li></a>
<!-- 							<li th:if="${event.event_status == 0}" th:attr="onclick=|application('${event.id}')|" th:text="${event.application_count} + ' 명'" class="red"></li> -->
							<a th:if="${event.event_status == 1}" th:href="@{workRecord_modal(id=${event.id})}"><li th:text="${event.staff_count} + ' 명'" class="black"></li></a>
							<li th:if="${event.event_status == 2}" th:text="${event.staff_count} + ' 명'" class="gray"></li>
							</div>
							
							<div id="a_count">
							<a th:href="@{manage_event_booth(id=${event.id})}" th:if="${event.event_status == 0}"><li th:text="${event.booth_count} + ' 개'" class="red"></li></a>
							<a th:href="@{manage_event_booth(id=${event.id})}" th:if="${event.event_status == 1}"><li th:text="${event.booth_count} + ' 개'" class="black"></li></a>
							<a th:href="@{manage_event_booth(id=${event.id})}" th:if="${event.event_status == 2}"><li th:text="${event.booth_count} + ' 개'" class="gray"></li></a>
							</div>
						</ol>
                    </ul>
                </div>
                
<!--                 <div id="application_modal"> -->
<!--                 	<div th:replace="~{/application_modal :: application}"></div> -->
<!--                 </div> -->
                <script>
                	function application(event_id){
                		document.getElementById("application_modal").style.display="block";
                		debugger;
                		
                		$.ajax({
    						url : "/application_modal",
    						type : 'post',
    						data : {
    							id:event_id
    						}
//                 		,
//     						success: function(){
//     							location.href="/application_modal?id="+event_id;
//     						}
    					});
                	}
                </script>

                <!-- 페이징 처리(Unix 참조) -->
                <div>
                    <ul>
                        <!-- 이전 -->

                        <!-- 번호 -->

                        <!-- 다음 -->

                    </ul>
                </div>

                <div id="modal" th:replace="~{workRecord_modal :: worker_list}">

                </div>


            </div>
        </div>
    </div>
</body>
</html>