<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이벤터즈랩(eventusLAB)</title>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/css/manage_staff.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css" />
</head>
<body>
    <div id="wrap">
        <div th:replace="~{common/sideforstaff :: sidebar_manage ('manage_career_forstaff')}"></div>
        <div th:insert="contract_file :: modal1" class="contract"></div>
        <div th:insert="contract_file :: modal2" class="security"></div>


        <!-- main -->
        <div class="content">
            <div class="container">
                <div class="page-header">
                    <div class="page-title">
                        <span>이력관리</span>
                    </div>
                </div>

                <div class="detail_bar">
                    <div class="detail1">
                        <img src="material-view-list.svg">
                        <input type="button" value="직원현황">
                    </div>
                    <div class="detail2">
                        <img src="material-view-list.svg">
                        <input type="button" value="나의이력서">
                    </div>
                    
                </div>

                <div class="area">
                    <div class="search_area">
                        <input type="text" class="calendar">
                        <input type="text" class="word_search">
                    </div>
                    

                    <ul class="list">
                        <ol>
                            <li>No</li>
                            <li>행사명</li>
                            <li>행사기간</li>
                            <li>합격여부</li>
                            <li>근로계약서</li>
                        </ol>
                        <!-- db에서 가져온 mastervo 데이터를 thymeleaf를 사용하여 출력 -->
                        <ol th:block th:each="career : ${career_list}">
                            <li class="applicationList"></li>
                            <li th:text="${career.event_title}"></li>
                            <li th:text="${career.event_startDate} + ' - ' + ${career.event_endDate}"></li>
                            <li th:text="${career.application_result}"></li>
                            <li><input type="button" id="contract_all" value="미등록"></li>

                        </ol>
                            

                    </ul>
                </div>


                <!-- 페이징 처리(Unix 참조) -->
                <div>
                    <ul>
                        <!-- 이전 -->

                        <!-- 번호 -->

                        <!-- 다음 -->

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <style>
        pre {
            height: 300px;
            overflow-y: scroll;
        }

        .contract,
        .security {
            display:none;
            position:fixed;
            right:0;
            width:50%;
            height:100%;
            background-color:#FFFFFF;
            border:1px solid #DDDDDD;
            border-radius: 3px;
            opacity: 1;
            z-index:1;
        }

    </style>
    <script>
        var num = [[${career_num}]];
        // class="applicationList"에 num값을 넣어줌
        $(".applicationList").each(function(){
            $(this).text(num);
            num--;
        });

        // 근로계약서 미등록 클릭시 모달창 띄우기
        $(function() {
            // 근로계약서 등록 버튼 클릭 시
            $("#contract_all").click(function(){
                $(".contract").css("display", "block");
            });

            $("input[type=image]").click(function() {
                $(".contract").css("display", "none");
                $(".security").css("display", "none");
            });

            $("#reset_btn").click(function(){
                $(".contract").css("display", "none");
                $(".security").css("display", "none");
            });

            $("#back_btn").click(function(){
                $(".contract").css("display", "block");
                $(".security").css("display", "none");
            });

            $("#next_btn").click(function(){
                $(".contract").css("display", "none");
                $(".security").css("display", "block");
            });

        });
    </script>
</body>
</html>
