<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>모여모여(moyomoyo)</title>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css" />
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/manage_event_booth.css">
</head>
<body>
    <div id="wrap">
        <div th:replace="~{common/side :: sidebar_manage ('schedule')}"></div>

        <!-- main -->
        <div class="content">
            <div class="container">
                <div class="page-header">
                    <div class="page-title">
                        <span>행사관리</span>
                    </div>
                    <div class="excel_download">
                        엑셀 데이터 다운로드
                    </div>
                </div>

                <div class="detail_bar">
                    <div class="detail1 this_bar">
                        <img src="imgs/Icon material-view-list.svg">
                        <p>행사현황</p>
                    </div>
                    <div class="detail2" onclick="location.href='manage_event_register'">
                        <img src="imgs/pen_gray.svg">
                        <p>행사등록</p>
                    </div>
                </div>

                <div class="area">
                	<div id="top_wrap">
	                	<div class="backbtn_area" onclick="location.href='manage_event'">
	                    	<img src="imgs/back_btn.svg" id="back_btn">
	                    </div>
	                    <div class="search_area">
	                        <form id="searchForm" th:action="@{/manage_event_booth}" method="get">
		                        <div class="text_search">
		                        	<input type="hidden" name="id" th:value="${event_id}">
		                        	<input type="text" class="word_search" placeholder="검색" name="searchKeyword" th:if="${searchKeyword == null}">
		                        	<input type="text" class="word_search" th:value="${searchKeyword}" name="searchKeyword" th:if="${searchKeyword != null}">
		                        	<div class="search_button">
		                        		<button type="submit" class="search_img"><img src="imgs/search_btn.svg"></button>
		                        	</div>
		                        </div>
                        	</form>
	                    </div>
                    </div>
                    
                    <ul class="list">
                        <ol id="top_ol">
                            <div id="index_area"><li>No</li></div>
                            <div id="title_area"><li>행사명</li></div>
                            <div id="date_area"><li>행사기간</li></div>
                            <div id="booth_area"><li>부스명</li></div>
                            <div id="counting_area"><li>카운팅</li></div>
                            <div id="time_area"><li>소요시간</li></div>
                            <div id="icon_area"><li>수정</li></div>
                            <div id="icon_area"><li>삭제</li></div>
                        </ol>
						<ol th:each="booth : ${booth_list}" id="list_ol">
							<input type="hidden" th:value="${booth.id}" id="booth_id">
							<div id="index_area"><li class="boothlist" th:text="${pagination.totalListCnt - boothStat.index - ((nowpage - 1)*10)}"></li></div>
							<div id="title_area"><li th:text="${booth.event_title}" id="text_over"></li></div>
							<div id="date_area"><li th:text="${booth.event_startDate} + ' - ' + ${booth.event_endDate}"></li></div>
							<div id="booth_area"><li th:text="${booth.booth_name}" id="text_over"></li></div>
							<div id="counting_area"><li style="color: #DD5067" th:text="${booth.counting} + ' 명'" th:if="${booth.counting != null and booth.counting != ''}"></li><li style="color: #DD5067" th:text="${booth.counting}" th:if="${booth.counting == null or booth.counting == ''}"></li></div>
							<div id="time_area"><li style="color: #DD5067" th:text="${booth.expected_time} + ' 분'" th:if="${booth.expected_time != null and booth.expected_time != ''}"></li><li style="color: #DD5067" th:text="${booth.expected_time}" th:if="${booth.expected_time == null or booth.expected_time == ''}"></li></div>
							<div id="icon_area"><li th:attr="onclick=|modifyModal('${booth.id}', '${booth.booth_name}', '${booth.event_title}', '${event_id}' )|"><img src="imgs/pen.svg"></li></div>
							<div id="icon_area"><li th:attr="onclick=|deleteModal('${booth.id}', '${event_id}')|"><img src="imgs/close_btn_black.svg"></li></div>
						</ol>
                    </ul>
	                <div id="button_">
	                	<button type="button" id="register_btn" th:attr="onclick=|registerModal('${event_id}', '${Title}')|">부스등록</button>
	                </div>
	                
                <!-- 페이징 -->
                
                <!-- 검색 안했을 때  -->
                    <div th:if="${searchKeyword == null}" class="null"> 
                        <ul class="pagewrap">
                            <li>
                            	<a class="page-link page_icon" th:href="@{manage_event_booth?id={id}&page=1 (id = ${event_id})}"><img src="imgs/page_start_btn.svg"></a>
                            </li>
                            <li class="icon_right">
                            	<a class="page-link page_icon" th:if="${nowpage == 1}" th:href="@{manage_event_booth?id={id}&page={page} (id = ${event_id}, page = ${nowpage})}"><img src="imgs/page_back_btn.svg"></a>
                            	<a class="page-link page_icon" th:if="${nowpage != 1}" th:href="@{manage_event_booth?id={id}&page={page} (id = ${event_id}, page = ${nowpage}-1)}"><img src="imgs/page_back_btn.svg"></a>
                            </li>
                             <th:block  th:with="start = ${pagination.startPage}, end = ${pagination.endPage}">
							    <li class="page-item" 
							    		 th:with="start = ${pagination.startPage}, end = ${pagination.endPage}"
							    		th:each="pageButton : ${#numbers.sequence(start, end)}">
							    		<a class="page-link"  th:id="'page_num'+${pageButton}" th:href="@{manage_event_booth?id={id}&page={page} (id = ${event_id}, page = ${pageButton})}" th:text=${pageButton}></a>
							    </li>
						    </th:block>
                            <li class="icon_left">
                            	<a class="page-link page_icon" th:if="${nowpage == pagination.totalPageCnt}" th:href="@{manage_event_booth?id={id}&page={page} (id = ${event_id}, page = ${nowpage})}"><img src="imgs/page_next_btn.svg"></a>
                            	<a class="page-link page_icon" th:if="${nowpage != pagination.totalPageCnt}" th:href="@{manage_event_booth?id={id}&page={page} (id = ${event_id}, page = ${nowpage}+1)}"><img src="imgs/page_next_btn.svg"></a>
                            </li>
                            <li>
                            	<a class="page-link page_icon" th:href="@{manage_event_booth?id={id}&page={page} (id = ${event_id}, page = ${pagination.totalPageCnt})}"><img src="imgs/page_end_btn.svg"></a>
                            </li>
                        </ul>
                    </div>
                    
                    <!-- 검색어로만 검색했을 때  -->
                    <div th:if="${searchKeyword != null}" class="notnull_keyword">
                        <ul class="pagewrap">
                            <li>
                            	<a class="page-link page_icon" th:href="@{manage_event_booth?id={id}&searchKeyword={key}&page=1 (id = ${event_id}, key = ${searchKeyword})}"><img src="imgs/page_start_btn.svg"></a>
                            </li>
                            <li class="icon_right">
                            	<a class="page-link page_icon" th:if="${nowpage == 1}" th:href="@{manage_event_booth?id={id}&searchKeyword={key}&page={page} (id = ${event_id}, key = ${searchKeyword}, page = ${nowpage})}"><img src="imgs/page_back_btn.svg"></a>
                            	<a class="page-link page_icon" th:if="${nowpage != 1}" th:href="@{manage_event_booth?id={id}&searchKeyword={key}&page={page} (id = ${event_id}, key = ${searchKeyword}, page = ${nowpage}-1)}"><img src="imgs/page_back_btn.svg"></a>
                            </li>
                             <th:block  th:with="start = ${pagination.startPage}, end = ${pagination.endPage}">
							    <li class="page-item" 
							    		 th:with="start = ${pagination.startPage}, end = ${pagination.endPage}"
							    		th:each="pageButton : ${#numbers.sequence(start, end)}">
							    		<a class="page-link"  th:id="'page_num'+${pageButton}" th:href="@{manage_event_booth?id={id}&searchKeyword={key}&page={page} (id = ${event_id}, key = ${searchKeyword}, page = ${pageButton})}" th:text=${pageButton}></a>
							    </li>
						    </th:block>
                            <li class="icon_left">
                            	<a class="page-link page_icon" th:if="${nowpage == pagination.totalPageCnt}" th:href="@{manage_event_booth?id={id}&searchKeyword={key}&page={page} (id = ${event_id}, key = ${searchKeyword}, page = ${nowpage})}"><img src="imgs/page_next_btn.svg"></a>
                            	<a class="page-link page_icon" th:if="${nowpage != pagination.totalPageCnt}" th:href="@{manage_event_booth?id={id}&searchKeyword={key}&page={page} (id = ${event_id}, key = ${searchKeyword}, page = ${nowpage}+1)}"><img src="imgs/page_next_btn.svg"></a>
                            </li>
                            <li>
                            	<a class="page-link page_icon" th:href="@{manage_event_booth?id={id}&searchKeyword={key}&page={page} (id = ${event_id}, key = ${searchKeyword}, page = ${pagination.totalPageCnt})}"><img src="imgs/page_end_btn.svg"></a>
                            </li>
                        </ul>
                    </div>
                    
                    <script th:inline="javascript">
						$('#page_num'+[[${nowpage}]]).addClass("thisPage");
                    	var searchWord = /*[[${searchKeyword}]]*/
                    	var nowpage = /*[[${nowpage}]]*/
                    	console.log(nowpage);
                    </script>
                </div>
                
            </div>
        </div>
        
        		<!-- 등록 모달 -->
                <div id="modal">
				    <div class="modal_content">
				        <img src="imgs/close_btn.svg" id="modal_close_btn">
				        <div id="modal_content_wrap">
					        <div id="modal_event_title">
					        	<p id="event_title"></p>
					        	<input type="hidden" id="event_id">
					        	<div id="modal_bottom_line"></div>
					        </div>
					        <div id="modal_input_div">
					        	<p>부스명</p>
					        	<input type="text" placeholder="부스명을 입력해주세요." id="booth_name">
					        </div>
					        <div id="modal_input_div">
					        	<p>카운팅</p>
					        	<input type="text" placeholder="수용가능한 인원수를 입력해주세요." id="counting">
					        </div>
					        <div id="modal_input_div">
					        	<p>소요시간</p>
					        	<input type="text" placeholder="소요시간을 입력해주세요." id="expected_time">
					        </div>
					        <div id="modal_btn_div">
					        	<button type="button" id="modal_insert_btn" th:onclick="'insertBooth('+${event_id}+')'">완료</button>
					        </div>
				        </div>
				    </div>
			   		<div class="modal_layer"></div>
				</div>
				
				<!-- 수정 모달 -->
				<div id="modal_modify">
				    <div class="modal_content_m">
				        <img src="imgs/close_btn.svg" id="modal_close_btn_m">
				        <div id="modal_content_wrap">
					        <div id="modal_event_title">
					        	<p id="event_title_m"></p>
					        	<input type="hidden" id="booth_id_m">
					        	<input type="hidden" id="event_id_m">
					        	<div id="modal_bottom_line"></div>
					        </div>
					        <div id="modal_input_div">
					        	<p>부스명</p>
					        	<input type="text" id="booth_name_m">
					        </div>
					        <div id="modal_input_div">
					        	<p>카운팅</p>
					        	<input type="text" placeholder="수용가능한 인원수를 입력해주세요." id="counting_m">
					        </div>
					        <div id="modal_input_div">
					        	<p>소요시간</p>
					        	<input type="text" placeholder="소요시간을 입력해주세요." id="expected_time_m">
					        </div>
					        <div id="modal_btn_div">
					        	<button type="button" id="modal_update_btn" th:onclick="updateBooth()">완료</button>
					        </div>
				        </div>
				    </div>
			   		<div class="modal_layer_m"></div>
				</div>
				
				<!-- 삭제 모달 -->
				<div id="modal_delete">
				    <div class="modal_content_d">
				        <div id="modal_content_wrap">
					        <input type="hidden" id="booth_id_d">
					        <input type="hidden" id="event_id_d">
					        <div id="modal_event_title">
					        	<p>부스 삭제</p>
					        </div>
					        <div id="delete_confirm">
					        	<p>선택한 부스를 삭제하시겠습니까?</p>
					        	<p>삭제한 데이터는 복구할 수 없습니다.</p>
					        </div>
					        <div id="modal_btn_div">
					        	<button type="button" id="modal_close_btn_d">취소</button>
					        	<button type="button" id="modal_delete_btn" th:onclick="deleteBooth()">삭제하기</button>
					        </div>
				        </div>
				    </div>
			   		<div class="modal_layer_d"></div>
				</div>
				
			<script>
				/* 모달창 띄우기 */
				// 등록 모달
			    function registerModal(event_id, eventTitle){
					document.getElementById("modal").style.display="block";
					
					$("#modal_event_title #event_title").text(eventTitle);
					$("#modal_event_title #event_id").val(event_id);
					debugger;
			    	
			    }
			    document.getElementById("modal_close_btn").onclick = function() {
			        document.getElementById("modal").style.display="none";
			    }
			    
			    // 수정 모달
			    function modifyModal(booth_id, boothName, eventTitle, event_id){
					document.getElementById("modal_modify").style.display="block";
					
					$("#modal_event_title #booth_id_m").val(booth_id);
					$("#modal_input_div #booth_name_m").val(boothName);
					$("#modal_event_title #event_title_m").text(eventTitle);
					$("#modal_event_title #event_id_m").val(event_id);
					debugger;
			    	
			    }
			    document.getElementById("modal_close_btn_m").onclick = function() {
			        document.getElementById("modal_modify").style.display="none";
			    }
			    
			 	// 삭제 모달
			    function deleteModal(booth_id, event_id){
					document.getElementById("modal_delete").style.display="block";
					
					$("#modal_delete #booth_id_d").val(booth_id);
					$("#modal_delete #event_id_d").val(event_id);
					debugger;
			    	
			    }
			    document.getElementById("modal_close_btn_d").onclick = function() {
			        document.getElementById("modal_delete").style.display="none";
			    }
			    
			    /* 부스등록 */
			    function insertBooth(event_id)  {
				  var event_id = $("#event_id").val();
				  var booth_name = $("#booth_name").val();
				  var counting = $("#counting").val();
				  var expected_time = $("#expected_time").val();
				  
				  if(booth_name == null || booth_name == ""){
					  alert("부스명을 입력해주세요.");
					  return false;
				  }else{
					  $.ajax({
							url : "/register_booth",
							type : 'post',
							data : {
								event_id:event_id,
								booth_name:booth_name,
								counting:counting,
								expected_time:expected_time
							},
							success: function(){
								location.href="/manage_event_booth?id="+event_id;
							}
						});
				  }
				  
				}
			    
			    /* 부스수정 */
			    function updateBooth()  {
				  var booth_name = $("#booth_name_m").val();
				  var counting = $("#counting_m").val();
				  var expected_time = $("#expected_time_m").val();
				  var booth_id = $("#booth_id_m").val();
				  var event_id = $("#event_id_m").val();
				  
				  if(booth_name == null || booth_name == ""){
					  alert("부스명을 입력해주세요.");
					  return false;
				  }else{
					  $.ajax({
							url : "/modify_booth",
							type : 'post',
							data : {
								event_id:event_id,
								booth_id:booth_id,
								booth_name:booth_name,
								counting:counting,
								expected_time:expected_time
							},
							success: function(){
								location.href="/manage_event_booth?id="+event_id;
							}
						});
				   }
				}
			    
			    /* 부스삭제 */
			    function deleteBooth()  {
				  var booth_id = $("#booth_id_d").val();
				  var event_id = $("#event_id_d").val();
				  
				  $.ajax({
						url : "/delete_booth",
						type : 'post',
						data : {
							event_id:event_id,
							booth_id:booth_id
						},
						success: function(){
							location.href="/manage_event_booth?id="+event_id;
						}
					});
				}
			</script>
    </div>
</body>
</html>