<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이벤터즈랩(eventusLAB)</title>
    <link rel="stylesheet" href="/css/manage_event.css">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css" />
</head>
<body>
    <div id="wrap">
        <!-- fixed menu -->
        <div class="sidebar">
            <a href="/main" class="logo">
                <img src="/imgs/logo.png" alt="eventusLAB">
            </a>
            <ul class="menu-categories">
                <li class="menu">
                    <a href="/main">
                        <div>
                            <img src="/imgs/main.svg" alt="main">
                            <span>메인</span>
                        </div>
                    </a>
                </li>
                <li class="menu">
                    <a href="/manage_event">
                        <div>
                            <img src="/imgs/schedule.svg" alt="schedule">
                            <span>행사관리</span>
                        </div>
                    </a>
                </li>
                <li class="menu">
                    <a href="/manage_staff">
                        <div>
                            <img src="/imgs/stafflist.svg" alt="stafflist">
                            <span>직원관리</span>
                        </div>
                    </a>
                </li>
                <li class="menu">
                    <a href="/report_work">
                        <div>
                            <img src="/imgs/timesheet.svg" alt="timesheet">
                            <span>근무기록</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>

        <!-- main -->
        <div class="content">
            <div class="container">
                <div class="page-header">
                    <div class="page-title">
                        <span>행사관리</span>
                    </div>
                </div>

                <div class="detail_bar">
                    <div class="detail1">
                        <img src="/imgs/material-view-list.svg">
                        <input type="button" value="행사현황">
                    </div>
                    <div class="detail2">
                        <img src="/imgs/pen_gray.svg">
                        <input type="button" value="행사등록" onclick="location.href='manage_event_register'">
                    </div>
                    
                </div>

                <div class="area">
                    <div class="search_area">
                        <input type="text" class="calendar">
                        <input type="text" class="word_search">
                    </div>
                    

                    <ul class="list">
                        <ol id="top_ol">
                            <li>No</li>
                            <li>행사명</li>
                            <li>행사기간</li>
                            <li>진행현황</li>
                            <li>지원현황</li>
                            <li>부스현황</li>
                        </ol>
						<ol th:each="event : ${event_list}" id="list_ol">
							<li th:text="${event.id}"></li>
							<a th:href="@{eventDetail(id=${event.id})}"><li th:text="${event.event_title}"></li></a>
							<li th:text="${event.event_startDate} + ' - ' + ${event.event_endDate}"></li>
							<li th:if="${event.event_status == '0'}">모집중</li><li th:if="${event.event_status == '1'}">진행중</li><li th:if="${event.event_status == '2'}">진행완료</li>
							<a th:if="${event.event_status == '0'}" th:href="@{application_modal(id=${event.id})}"><li th:text="${event.application_count} + ' 명'"></li></a>
							<li th:text="${event.booth_count} + ' 개'"></li>
						</ol>
                    </ul>
                </div>
                

                <!-- 페이징 처리(Unix 참조) -->
                <div>
                    <ul>
                        <!-- 이전 -->

                        <!-- 번호 -->

                        <!-- 다음 -->

                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>