<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이벤터즈랩(eventusLAB)</title>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/css/manage_staff.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css" />
</head>
<body>

    <div id="wrap">
        <div th:replace="~{common/sideforstaff :: sidebar_manage ('manage_career_forstaff')}"></div>
        <form th:insert="~{contract_file :: modal}" action="contract_check" id="contract" class="contract"></form>

        <!-- main -->
        <div class="content">
            <div class="container">
                <div class="page-header">
                    <div class="page-title">
                        <span>이력관리</span>
                    </div>
                </div>

                <div class="detail_bar">
                    <div class="detail1">
                        <img src="material-view-list.svg">
                        <input type="button" value="직원현황">
                    </div>
                    <div class="detail2">
                        <img src="material-view-list.svg">
                        <input type="button" value="나의이력서">
                    </div>
                    
                </div>

                <div class="area">
                    <div class="search_area">
                        <input type="text" class="calendar">
                        <input type="text" class="word_search">
                    </div>
                    

                    <ul class="list">
                        <ol>
                            <li>No</li>
                            <li>행사명</li>
                            <li>행사기간</li>
                            <li>합격여부</li>
                            <li>근로계약서</li>
                        </ol>
                        <!-- db에서 가져온 mastervo 데이터를 thymeleaf를 사용하여 출력 -->
                        <ol th:block th:each="career : ${career_list}">
                            <li th:text="${career.list_no}"></li>
                            <li th:text="${career.event_title}"></li>
                            <li th:text="${career.event_startDate} + ' - ' + ${career.event_endDate}"></li>
                            <li th:if="${career.event_check == 0}">모집 중</li>

                            <li th:if="${career.pass_check == 0}">불합격</li>
                            <li th:if="${career.pass_check == 1}">합격</li>


                            <li th:if="${career.contract_check == 1}">등록완료</li>
                            <li th:if="${career.contract_check == 0}">
                                <input th:name="${career.event_id}" type="button" class="contract_add" value="미등록">
                            </li>
                        </ol>
                    </ul>
                </div>


                <!-- 페이징 처리 -->
                <div>
                    <ul>
                        <!-- 이전 -->
                        <li th:if="${page <= 1}">
                            <a th:href="@{/manage_career_forstaff(page=1)}">&lt;</a>
                        </li>
                        <li th:if="${page > 1}">
                            <a th:href="@{/manage_career_forstaff(page=${page - 1})}">&lt;</a>
                        </li>

                        <!-- 번호 10개씩 -->
                        <li th:if="${startPage*10 <= totalPage}" th:each="i : ${#numbers.sequence(startPage, startPage + 10)}">
                            <a th:href="@{/manage_career_forstaff(page=${i})}" th:text="${i}"></a>
                        </li>

                        <li th:if="${startPage*10 > totalPage}" th:each="i : ${#numbers.sequence(startPage, totalPage)}">
                            <a th:href="@{/manage_career_forstaff(page=${i})}" th:text="${i}"></a>
                        </li>

                        <!-- 다음 -->
                        <li th:if="${page < totalPage}">
                            <a th:href="@{/manage_career_forstaff(page=${page+1})}">&gt;</a>
                        </li>
                        <li th:if="${page >= totalPage}">
                            <a th:href="@{/manage_career_forstaff(page=${totalPage})}">&gt;</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <style>
        pre {
            height: 300px;
            overflow-y: scroll;
        }

        #modal1,
        #modal2 {
            display:none;
            position:fixed;
            right:0;
            width:50%;
            height:100%;
            background-color:#FFFFFF;
            border:1px solid #DDDDDD;
            border-radius: 3px;
            opacity: 1;
            z-index:1;
        }

    </style>
    <script>

        // 근로계약서 미등록 클릭시 모달창 띄우기
        $(function() {

            // 근로계약서 등록 버튼 클릭 시
            $(".contract_add").click(function() {
                $("#modal1").css("display", "block");
                var event_id = $(this).attr("name");
                // name이 event_id인 input에 event_id값을 넣어주어 전송 시 같이 전달
                $("input[type=hidden]").val(event_id);
                $.ajax({
                    url: "/getEventInfo",
                    type: "GET",
                    data: {
                        id: event_id
                    },
                    dataType: "json",
                })
                // 서버로부터 가져온 데이터를 변수에 저장
                .done(function(eventInfo) {
                    var event_startDate = eventInfo.event_startDate;
                    var event_endDate = eventInfo.event_endDate;
                    var event_position_pay = eventInfo.event_position_pay;
                    var event_venue = eventInfo.event_venue;
                    // startDate와 endDate의 날짜 차이 계산
                    var date1 = new Date(event_startDate);
                    var date2 = new Date(event_endDate);
                    var diff = date2.getTime() - date1.getTime();
                    var diffDays = Math.ceil(diff / (1000 * 3600 * 24));
                    var work_date = diffDays;

                    // id가 event_venue인 태그에 event_venue값을 넣어줌
                    $("#event_venue").text(event_venue);
                    $("#event_startDate").text(event_startDate);
                    $("#event_endDate").text(event_endDate);
                    $("#work_date").text(work_date);
                    $("#event_position_pay").text(event_position_pay);

                })
            });


            // X 버튼 클릭 시 모달창 닫기
            $("input[type=image]").click(function() {
                $("#modal1").css("display", "none");
                $("#modal2").css("display", "none");
                return false;
            });

            // 취소 버튼 클릭 시 모달창 닫기
            $("#reset_btn").click(function(){
                $("#modal1").css("display", "none");
                $("#modal2").css("display", "none");
            });

            // 보안 계약서 모달에서 뒤로 버튼 클릭 시 근로 계약서 모달로 이동
            $("#back_btn").click(function(){
                $("#modal1").css("display", "block");
                $("#modal2").css("display", "none");
            });

            // id가 save_btn 버튼 숨기기
            $("#save_btn").css("display", "none");


            // input태그에 type이 text인 곳에 빈칸이 있을 경우 "빈칸을 채워주세요." 라는 경고창 띄우기
            $("#next_btn").click(function() {
                var check = true;
                $("#contract input[type=text]").each(function() {
                    /*
                    if ($(this).val() == "") {
                        alert("빈칸을 채워주세요.");
                        check = false;
                        return false;
                    }*/
                });
                if (check) {
                    $("#modal1").css("display", "none");
                    $("#modal2").css("display", "block");
                }
            });

            // 저장 버튼 클릭 시


            $('#confirm_btn').click(function() {
                var check = true;
                $("#modal2 input[type=text]").each(function() {
                    /*
                    if ($(this).val() == "") {
                        alert("빈칸을 채워주세요.");
                        check = false;
                        return false;
                    }*/
                    if(check) {
                        // form을 submit할 때 event_id값을 넘겨줌
                        $("#contract").submit();
                    }
                });

            });
        });
    </script>

</body>
</html>
