<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>이벤터즈랩(eventusLAB)</title>
	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/manage_event_Detail.css">
</head>
<body>
	
	<div th:replace="~{common/side :: sidebar_manage('schedule')}"></div>

	<div class="content">
		<div class="container">
			<div class="page-header">
				<div class="page-title">
					<span>행사목록</span>
				</div>
				<div class="excel_download">
					엑셀 데이터 다운로드
				</div>
			</div>
			<div class="detail_bar">
				<div class="detail1 this_bar" onclick="location.href='manage_event'">
					<img src="imgs/material-view-list.svg">
					<p>행사현황</p>
				</div>
				<div class="detail2" onclick="location.href='manage_event_register'">
					<img src="imgs/pen_gray.svg">
					<p>행사등록</p>
				</div>
			</div>

			<div class="area">
				<h2>행사 정보</h2>
				<span>
					<div class="event_table event_table_L">
						<ul>
							<li class="t_title">행사명</li>
							<!-- <li id="event_title" th:text="'['+${event.event_venue}+'] '+${event.event_title}" th:if="${event.event_venue ne null}"></li>
							<li id="event_title" th:text="${event.event_title}" th:unless="${event.event_venue ne null}"></li> -->
							<li id="event_title" th:text="${event.event_title}" ></li>
						</ul>
						<ul>
							<li class="t_title">행사기간</li>
							<li id="event_date">[(${event.event_startDate})] ~ [(${event.event_endDate})]</li>
						</ul>
						<ul>
							<li class="t_title">접수마감</li>
							<li id="event_date">[(${event.event_deadline})]</li>
						</ul>
						<ul>
							<li class="t_title">행사장소</li>
							<li id="event_date">[(${event.event_venue})]</li>
						</ul>
						<ul class="position_tab">
							<li class="t_title">모집부문</li>
							<li>
								<div class="position_table">
									<div th:each="positions : ${positionMap}" class="position">
										<div th:text="${positions.key}"></div>
										<div th:text="${positions.value}+'명'"></div>
									</div>
								</div>
							</li>
						</ul>

						<ul class="file_tab">
							<li class="t_title">첨부파일</li>
							<li id="event_file">
								<div th:each="FileList : ${eventFileList}" >
									<a th:href="@{event_download(filename=${FileList.file_name})}">
										<div><img src="imgs/event_download.svg" alt="event_download"></div>
										<div th:text="${FileList.file_name}"></div>
									</a>
								</div>
							</li>
						</ul>
					</div>
					<div class="event_table event_table_R">
						<ul>
							<li class="t_title">행사 상세내용</li>
							<textarea name="event_content" id="event_content" cols="30" rows="10" spellcheck="false" disabled>[(${event.event_content})]</textarea>
						</ul>
					</div>
				</span>

				<div class="btn_wrap">
					<button type="button" onclick="location.href='manage_event'">목록으로</button>
					<button type="button">수정하기</button>
				</div>

			</div>




		</div>

	</div>
	
</body>
</html>