<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이벤터즈랩(eventusLAB)</title>
    <link rel="stylesheet" href="/css/report_work.css">
    <link rel="stylesheet" href="/css/date.css">
    <link rel="stylesheet" href="css/reset.css">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css" />
    <script src="/js/date.js"></script>
    <script src="/js/common.js"></script>
    
    <!-- daterangepicker css -->
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
	 
	<!-- daterangepicker js -->
<!-- 	<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script> -->
	<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
	
	<style>
		/* 달력 열리는 위치 수정 */
		.daterangepicker{
			right: 532.062px !important;
			left: auto !important;
		}
		/* 기본선택된 날짜 및 시작, 끝날짜 배경색 */
		.daterangepicker td.active, .daterangepicker td.active:hover, td.active.end-date {
		    background-color: #FFD0DE !important;
		    border-color: transparent;
		    color: #333333;
		}
		.daterangepicker select.monthselect {
		    border: none;
		    text-align: center;
		    font-size: 15px;
		}
		.daterangepicker select.yearselect {
		    border: none;
		    text-align: center;
		    font-size: 15px;
		}
		/* 요일부분 */
		.daterangepicker .table-condensed thead tr th {
		    color: #999999;
		    font-weight: 400;
		}
		/* 달력 각 날짜 td */
		.daterangepicker td.today.active.start-date.active.end-date.available {
		    border-radius: 15px;
		}
		.daterangepicker .calendar-table th, .daterangepicker .calendar-table td {
		    min-width: 30px;
		    width: 30px;
		    height: 30px;
		    line-height: 30px;
		}
		/* 오늘날짜 font weight 수정 */
		.daterangepicker td.today{
			font-weight:400;
		}
		/* 시작날짜와 끝날짜 사이의 range */
		.in-range {
		    color: #333333;
 		    background-color: rgba(255, 208, 222, 0.3) !important;
		}
		/* 날짜 선택 전, hover */
		.daterangepicker td.in-range:hover { 
		    background-color: #eee !important;
		    border-color: transparent;
		    color: inherit;
		}
		.daterangepicker td.off.ends {
		    background: #fff !important;
		}
	</style>
</head>
<script>

  </script>
<body>
	<div id="wrap">
		<div th:replace="~{common/side :: sidebar_manage ('timesheet')}"></div>
		
    <!-- main -->
    <div class="content">
        <div class="container">
            <div class="page-header">
                <div class="page-title">
                    <span>근무기록</span>
                </div>
                <div class="excel_download">
                    <form action="/report_work_excel" method="get">
                        <input type="hidden" name="searchDate" th:value="${startDate}+' - '+${endDate}" th:if="${startDate != null && endDate != null}">
                        <input type="hidden" class="word_search" placeholder="검색" name="searchKeyword" th:if="${searchKeyword == null}">
                        <input type="hidden" class="word_search" th:value="${searchKeyword}" name="searchKeyword" th:if="${searchKeyword != null}">
                        <button type="submit" class="excel_submit">엑셀 데이터 다운로드</button>
                    </form>
                </div>
            </div>

            <div class="detail_bar">
                <div class="detail1 this_bar">
                    <img src="imgs/Icon material-view-list.svg">
                    <p>근무기록</p>
                </div>
            </div>

            <div class="area">
            	<div class="search_area">
                	<form id="searchForm" th:action="@{/report_work}" method="get">
	                	<div class="date_search">
	                    	<div class="date_input">
	                        	<input type="text" name="searchDate" th:placeholder="${firstDate}+' - '+${lastDate}" id="searchDate" th:if="${startDate == null && endDate == null}">
	                        	<input type="text" name="searchDate" th:value="${startDate}+' - '+${endDate}" id="searchDate" th:if="${startDate != null && endDate != null}">
		                    </div>
		                    <div class="calendar_button">
	                      		<button type="button" class="search_img" onclick="calendar();"><img src="imgs/register-calendar.svg"></button>
	                        </div>
	                    </div>
	                    <div class="text_search">
	                    	<input type="text" class="word_search" placeholder="행사명 또는 직원이름 검색" name="searchKeyword" th:if="${searchKeyword == null}">
	                        <input type="text" class="word_search" th:value="${searchKeyword}" name="searchKeyword" th:if="${searchKeyword != null}">
	                        <div class="search_button">
	                        	<button type="submit" class="search_img"><img src="imgs/search_btn.svg"></button>
	                        </div>
	                    </div>
					</form>
                </div>
                
                <script>
						function calendar(){
							$('#searchDate').trigger('click');
						}
						
                    	$("#searchDate").daterangepicker({
                    		"autoApply":true,	//날짜 선택하면 input에 자동적용
                    		"opens":'left',		//왼쪽으로 open
                    	    locale: {
                    	    "separator": " - ",          // 시작일시와 종료일시 구분자
                    	    "format": 'YYYY.MM.DD',     // 일시 노출 포맷
//                     	    "applyLabel": "확인",                    // 확인 버튼 텍스트
//                     	    "cancelLabel": "취소",                   // 취소 버튼 텍스트
                    	    "daysOfWeek": ["SUN", "MON", "TUE", "WED", "THU", "FRI", "SAT"],
                    	    "monthNames": ["January", "Feburary", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
                    	    },
                    	    timePicker: false,                        // 시간 노출 여부
                    	    showDropdowns: true,                     // 년월 수동 설정 여부
                    	    timePicker24Hour: false,                  // 24시간 노출 여부(ex> true : 23:50, false : PM 11:50)
                    	    timePickerSeconds: false,                 // 초 노출 여부
                    	    singleDatePicker: false,                   // 하나의 달력 사용 여부
                    	    linkedCalendars: false					  //각 달력 <>연결해서 이동되지 않도록 false
                    	}, function (start, end, label) {
                    		console.log('선택된 날짜: ' + start.format('YYYY.MM.DD') + ' to ' + end.format('YYYY.MM.DD'));
                    		searchDate(start.format('YYYY.MM.DD'), end.format('YYYY.MM.DD'));
                    	});
                    	
                    	function searchDate(start,end){
	                    	$.ajax({
	                			url : "/report_work",
	                			type : 'get',
	                			data : {startDate:start, endDate:end},
	                			success: function(data){
	                				window.location.href = "/report_work?startDate="+start+"&endDate="+end;
	                			}
	                		});
                    	}
                    	 
                    </script>

                <ul class="list">
                    <ol id="top_ol">
                        <div id="date_area"><li>일자</li></div>
                        <div id="event_area"><li>행사명</li></div>
                        <div id="name_area"><li>이름</li></div>
                        <div id="contact_area"><li>연락처</li></div>
                        <div id="start_area"><li>출근</li></div>
                        <div id="outing_area"><li>외출</li></div>
                        <div id="comeback_area"><li>복귀</li></div>
                        <div id="end_area"><li>퇴근</li></div>
                        <div id="total_time_area"><li>소계시간</li></div>
                        <div id="new_update"><li>수정</li></div>
                    </ol>
<!--                    <form id="report_worktimeUpdateForm" name="report_worktimeUpdateForm" action="/update_reportwork_time" method="post">-->
                    <ol th:each="report_work : ${report_work_list}" class="list_ol">
                        
                        <div id="date_area"><li th:text="${report_work.work_date}"></li></div>
                        <div id="event_area"><li th:text="${report_work.event_title}"></li></div>
                        <div id="name_area"><li th:text="${report_work.user_name}"></li></div>
                        <div id="contact_area"><li th:text="${report_work.user_phone}" class="phone_set"></li></div>
                        
                        <div id="start_area" class="list_start_area"><li th:text="${report_work.work_start_time}"></li></div>
                        <div id="outing_area" class="list_outing_area"><li th:text="${report_work.work_outing_time}"></li></div>
                        <div id="comeback_area" class="list_comeback_area"><li th:text="${report_work.work_comeback_time}"></li></div>
                        <div id="end_area" class="list_end_area"><li th:text="${report_work.work_end_time}"></li></div>
                        
                        
<!--                         근무기록 시간 수정 -->
                        <li class="time_update"><input th:value="${report_work.work_start_time}" id="start_area_input" onKeyup="inputTimeColon(this);" minlength="5" nmaxlength="7" onFocus="this.value='';return true;"/></li>
                        <li class="time_update"><input th:value="${report_work.work_outing_time}" id="outing_area_input" onKeyup="inputTimeColon(this);" minlength="5" maxlength="7" onFocus="this.value='';return true;"/></li>
                        <li class="time_update"><input th:value="${report_work.work_comeback_time}" id="comeback_area_input" onKeyup="inputTimeColon(this);" minlength="5" maxlength="7" onFocus="this.value='';return true;"/></li>
                        <li class="time_update"><input th:value="${report_work.work_end_time}" id="end_area_input" onKeyup="inputTimeColon(this);" minlength="5" maxlength="7" onFocus="this.value='';return true;"/></li>
                        
                        <li th:text="${report_work.work_total_time}" id="total_time_area"></li>
                        <li id="new_update" th:class="${report_work.id}"> 
                        <button type="button" id="update_btn" th:value="${report_work.id}">
                        <div class="btns_div">
                        <img src="imgs/pen.svg" class="pen_btn" >
                      </div>
                        </button>
                         <button type="submit" id="check_btn" th:value="${report_work.id}"><img src="imgs/Icon_material_check.svg" class="check_btn" ></button>
                         <button type="button" id="close_btn" th:value="${report_work.id}"><img src="imgs/Icon_material_close.svg" class="close_btn" ></button></li>
<!--                         <input type="hidden" id="staff_id" th:value="${report_work.id}">-->
                    </ol>
<!--                    </form>-->

                </ul>
                
                <!-- 페이징 -->
                    
                    <!-- 검색 안했을 때  -->
                    <div th:if="${searchKeyword == null && startDate == null && endDate == null}" class="null"> 
                        <ul class="pagewrap">
                            <li>
                            	<a class="page-link page_icon" th:href="@{report_work?page=1}"><img src="imgs/page_start_btn.svg"></a>
                            </li>
                            <li class="icon_right">
                            	<a class="page-link page_icon" th:if="${nowpage == 1}" th:href="@{report_work?page={page} (page = ${nowpage})}"><img src="imgs/page_back_btn.svg"></a>
                            	<a class="page-link page_icon" th:if="${nowpage != 1}" th:href="@{report_work?page={page} (page = ${nowpage}-1)}"><img src="imgs/page_back_btn.svg"></a>
                            </li>
                             <th:block  th:with="start = ${pagination.startPage}, end = ${pagination.endPage}">
							    <li class="page-item" 
							    		 th:with="start = ${pagination.startPage}, end = ${pagination.endPage}"
							    		th:each="pageButton : ${#numbers.sequence(start, end)}">
							    		<a class="page-link"  th:id="'page_num'+${pageButton}" th:href="@{report_work?page={page} (page = ${pageButton})}" th:text=${pageButton}></a>
							    </li>
						    </th:block>
                            <li class="icon_left">
                            	<a class="page-link page_icon" th:if="${nowpage == pagination.totalPageCnt}" th:href="@{report_work?page={page} (page = ${nowpage})}"><img src="imgs/page_next_btn.svg"></a>
                            	<a class="page-link page_icon" th:if="${nowpage != pagination.totalPageCnt}" th:href="@{report_work?page={page} (page = ${nowpage}+1)}"><img src="imgs/page_next_btn.svg"></a>
                            </li>
                            <li>
                            	<a class="page-link page_icon" th:href="@{report_work?page={page} (page = ${pagination.totalPageCnt})}"><img src="imgs/page_end_btn.svg"></a>
                            </li>
                        </ul>
                    </div>
                    
                    <!-- 검색어로만 검색했을 때  -->
                    <div th:if="${searchKeyword != null && startDate == null && endDate == null && today != null}" class="notnull_keyword">
                        <ul class="pagewrap">
                            <li>
                            	<a class="page-link page_icon" th:href="@{report_work?searchDate={date}&searchKeyword={key}&page=1 (date = ${searchDate}, key = ${searchKeyword})}"><img src="imgs/page_start_btn.svg"></a>
                            </li>
                            <li class="icon_right">
                            	<a class="page-link page_icon" th:if="${nowpage == 1}" th:href="@{report_work?searchDate={date}&searchKeyword={key}&page={page} (date = ${searchDate}, key = ${searchKeyword}, page = ${nowpage})}"><img src="imgs/page_back_btn.svg"></a>
                            	<a class="page-link page_icon" th:if="${nowpage != 1}" th:href="@{report_work?searchDate={date}&searchKeyword={key}&page={page} (date = ${searchDate}, key = ${searchKeyword}, page = ${nowpage}-1)}"><img src="imgs/page_back_btn.svg"></a>
                            </li>
                             <th:block  th:with="start = ${pagination.startPage}, end = ${pagination.endPage}">
							    <li class="page-item" 
							    		 th:with="start = ${pagination.startPage}, end = ${pagination.endPage}"
							    		th:each="pageButton : ${#numbers.sequence(start, end)}">
							    		<a class="page-link"  th:id="'page_num'+${pageButton}" th:href="@{report_work?searchDate={date}&searchKeyword={key}&page={page} (date = ${searchDate}, key = ${searchKeyword}, page = ${pageButton})}" th:text=${pageButton}></a>
							    </li>
						    </th:block>
                            <li class="icon_left">
                            	<a class="page-link page_icon" th:if="${nowpage == pagination.totalPageCnt}" th:href="@{report_work?searchDate={date}&searchKeyword={key}&page={page} (date = ${searchDate}, key = ${searchKeyword}, page = ${nowpage})}"><img src="imgs/page_next_btn.svg"></a>
                            	<a class="page-link page_icon" th:if="${nowpage != pagination.totalPageCnt}" th:href="@{report_work?searchDate={date}&searchKeyword={key}&page={page} (date = ${searchDate}, key = ${searchKeyword}, page = ${nowpage}+1)}"><img src="imgs/page_next_btn.svg"></a>
                            </li>
                            <li>
                            	<a class="page-link page_icon" th:href="@{report_work?searchDate={date}&searchKeyword={key}&page={page} (date = ${searchDate}, key = ${searchKeyword}, page = ${pagination.totalPageCnt})}"><img src="imgs/page_end_btn.svg"></a>
                            </li>
                        </ul>
                    </div>
                    
                    <!-- 날짜로만 검색했을 때  -->
                    <div th:if="${searchKeyword == null && startDate != null && endDate != null}" class="notnull_date">
                        <ul class="pagewrap">
                            <li>
                            	<a class="page-link page_icon" th:href="@{report_work?startDate={start}&endDate={end}&page=1 (start = ${startDate}, end = ${endDate})}"><img src="imgs/page_start_btn.svg"></a>
                            </li>
                            <li class="icon_right">
                            	<a class="page-link page_icon" th:if="${nowpage == 1}" th:href="@{report_work?startDate={start}&endDate={end}&page={page} (start = ${startDate}, end = ${endDate}, page = ${nowpage})}"><img src="imgs/page_back_btn.svg"></a>
                            	<a class="page-link page_icon" th:if="${nowpage != 1}" th:href="@{report_work?startDate={start}&endDate={end}&page={page} (start = ${startDate}, end = ${endDate}, page = ${nowpage}-1)}"><img src="imgs/page_back_btn.svg"></a>
                            </li>
                             <th:block  th:with="start = ${pagination.startPage}, end = ${pagination.endPage}">
							    <li class="page-item" 
							    		 th:with="start = ${pagination.startPage}, end = ${pagination.endPage}"
							    		th:each="pageButton : ${#numbers.sequence(start, end)}">
							    		<a class="page-link"  th:id="'page_num'+${pageButton}" th:href="@{report_work?startDate={start}&endDate={end}&page={page} (start = ${startDate}, end = ${endDate}, page = ${pageButton})}" th:text=${pageButton}></a>
							    </li>
						    </th:block>
                            <li class="icon_left">
                            	<a class="page-link page_icon" th:if="${nowpage == pagination.totalPageCnt}" th:href="@{report_work?startDate={start}&endDate={end}&page={page} (start = ${startDate}, end = ${endDate}, page = ${nowpage})}"><img src="imgs/page_next_btn.svg"></a>
                            	<a class="page-link page_icon" th:if="${nowpage != pagination.totalPageCnt}" th:href="@{report_work?startDate={start}&endDate={end}&page={page} (start = ${startDate}, end = ${endDate}, page = ${nowpage}+1)}"><img src="imgs/page_next_btn.svg"></a>
                            </li>
                            <li>
                            	<a class="page-link page_icon" th:href="@{report_work?startDate={start}&endDate={end}&page={page} (start = ${startDate}, end = ${endDate}, page = ${pagination.totalPageCnt})}"><img src="imgs/page_end_btn.svg"></a>
                            </li>
                        </ul>
                    </div>
                    
                    <!-- 동시 검색했을 때  -->
                    <div th:if="${searchKeyword != null && searchDate != null && today == null}" class="notnull_all">
                        <ul class="pagewrap">
                            <li>
                            	<a class="page-link page_icon" th:href="@{report_work?startDate={start}&endDate={end}&searchDate={date}&searchKeyword={key}&page=1 (date = ${searchDate}, key = ${searchKeyword},start = ${startDate}, end = ${endDate})}"><img src="imgs/page_start_btn.svg"></a>
                            </li>
                            <li class="icon_right">
                            	<a class="page-link page_icon" th:if="${nowpage == 1}" th:href="@{report_work?startDate={start}&endDate={end}&searchDate={date}&searchKeyword={key}&page={page} (date = ${searchDate}, key = ${searchKeyword},start = ${startDate}, end = ${endDate}, page = ${nowpage})}"><img src="imgs/page_back_btn.svg"></a>
                            	<a class="page-link page_icon" th:if="${nowpage != 1}" th:href="@{report_work?startDate={start}&endDate={end}&searchDate={date}&searchKeyword={key}&page={page} (date = ${searchDate}, key = ${searchKeyword},start = ${startDate}, end = ${endDate}, page = ${nowpage}-1)}"><img src="imgs/page_back_btn.svg"></a>
                            </li>
                             <th:block  th:with="start = ${pagination.startPage}, end = ${pagination.endPage}">
							    <li class="page-item" 
							    		 th:with="start = ${pagination.startPage}, end = ${pagination.endPage}"
							    		th:each="pageButton : ${#numbers.sequence(start, end)}">
							    		<a class="page-link"  th:id="'page_num'+${pageButton}" th:href="@{report_work?startDate={start}&endDate={end}&searchDate={date}&searchKeyword={key}&page={page} (date = ${searchDate},key = ${searchKeyword},start = ${startDate}, end = ${endDate}, page = ${pageButton})}" th:text=${pageButton}></a>
							    </li>
						    </th:block>
                            <li class="icon_left">
                            	<a class="page-link page_icon" th:if="${nowpage == pagination.totalPageCnt}" th:href="@{report_work?startDate={start}&endDate={end}&searchDate={date}&searchKeyword={key}&page={page} (date = ${searchDate},key = ${searchKeyword},start = ${startDate}, end = ${endDate}, page = ${nowpage})}"><img src="imgs/page_next_btn.svg"></a>
                            	<a class="page-link page_icon" th:if="${nowpage != pagination.totalPageCnt}" th:href="@{report_work?startDate={start}&endDate={end}&searchDate={date}&searchKeyword={key}&page={page} (date = ${searchDate},key = ${searchKeyword},start = ${startDate}, end = ${endDate}, page = ${nowpage}+1)}"><img src="imgs/page_next_btn.svg"></a>
                            </li>
                            <li>
                            	<a class="page-link page_icon" th:href="@{report_work?startDate={start}&endDate={end}&searchDate={date}&searchKeyword={key}&page={page} (date = ${searchDate},key = ${searchKeyword},start = ${startDate}, end = ${endDate}, page = ${pagination.totalPageCnt})}"><img src="imgs/page_end_btn.svg"></a>
                            </li>
                        </ul>
                    </div>
                    
                    <script th:inline="javascript">
						$('#page_num'+[[${nowpage}]]).addClass("thisPage");
                    	var searchWord = /*[[${searchKeyword}]]*/
                    	var nowpage = /*[[${nowpage}]]*/
                    	console.log(nowpage);
                    </script>
                    <script>
        $(function(){
            $('.phone_set').each(function(){
                let num = $(this).text();
                let numSet ="";
                if(num.split('-').length <=1){
                    numSet = chkItemPhone(num);
                }else{
                    numSet = num;
                }
                $(this).html(numSet)
            })
        })


    </script>
            </div>
        </div>
    </div>
</div>
</body>
</html>