<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이벤터즈랩(eventusLAB)</title>
    <link rel="stylesheet" href="/css/report_work.css">
    <link rel="stylesheet" href="/css/date.css">
    <link rel="stylesheet" href="css/reset.css">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css" />
    <script src="/js/date.js"></script>
</head>
<script>

  </script>
<body>
<div id="wrap">
    <!-- fixed menu -->
<!--     <div class="sidebar"> -->
<!--         <a href="/main" class="logo"> -->
<!--             <img src="/imgs/logo.png" alt="eventusLAB"> -->
<!--         </a> -->
<!--         <ul class="menu-categories"> -->
<!--             <li class="menu"> -->
<!--                 <a href="/main"> -->
<!--                     <div> -->
<!--                         <img src="/imgs/main.svg" alt="main"> -->
<!--                         <span>메인</span> -->
<!--                     </div> -->
<!--                 </a> -->
<!--             </li> -->
<!--             <li class="menu"> -->
<!--                 <a href="/manage_event"> -->
<!--                     <div> -->
<!--                         <img src="/imgs/schedule.svg" alt="schedule"> -->
<!--                         <span>행사관리</span> -->
<!--                     </div> -->
<!--                 </a> -->
<!--             </li> -->
<!--             <li class="menu"> -->
<!--                 <a href="/manage_staff"> -->
<!--                     <div> -->
<!--                         <img src="/imgs/stafflist.svg" alt="stafflist"> -->
<!--                         <span>직원관리</span> -->
<!--                     </div> -->
<!--                 </a> -->
<!--             </li> -->
<!--             <li class="menu"> -->
<!--                 <a href="/report_work"> -->
<!--                     <div> -->
<!--                         <img src="/imgs/timesheet.svg" alt="timesheet"> -->
<!--                         <span>근무기록</span> -->
<!--                     </div> -->
<!--                 </a> -->
<!--             </li> -->
<!--         </ul> -->
<!--     </div> -->
<div th:replace="~{common/side :: sidebar_manage ('timesheet')}"></div>
    <!-- main -->
    <div class="content">
        <div class="container">
            <div class="page-header">
                <div class="page-title">
                    <span>근무기록</span>
                </div>
                <div class="excel_download">
                    <form action="/report_work_excel" method="get">
                        <button type="submit" class="excel_submit">엑셀 데이터 다운로드</button>
                    </form>
                </div>
            </div>

            <div class="detail_bar">
                <div class="detail1">
                    <img src="imgs/Icon material-view-list.svg">
                    <input type="button" value="근무기록">
                </div>
            </div>

            <div class="area">
            <form action="Search">
                <div class="search_area">
                    <input type="text" id="s_calendar">
                    <input type="text" id="e_calendar">
                    <input type="text" class="word_search">
                </div>
                </form>


                <ul class="list">
                    <ol id="title_area">
                        <li id="date_area">일자</li>
                        <!--                             <li>요일</li> -->
                        <li id="event_area">행사명</li>
                        <li id="name_area">이름</li>
                        <li id="contact_area">연락처</li>
                        <li id="start_area">출근</li>
                        <li id="outing_area">외출</li>
                        <li id="comeback_area">복귀</li>
                        <li id="end_area">퇴근</li>
                        <li id="total_time_area">소계시간</li>
                        <li id="new_update">수정</li>
                    </ol>
                    <ol th:each="report_work : ${report_work_list}" id="list_ol">
                        <li th:text="${report_work.work_date}" id="date_area"></li>
                        <li th:text="${report_work.event_title}" id="event_area"></li>
                        <li th:text="${report_work.user_name}" id="name_area"></li>
                        <li th:text="${report_work.user_phone}" id="contact_area"></li>
                        
                        <li th:text="${report_work.work_start_time}" id="start_area" class="list_start_area"></li>
                        <li th:text="${report_work.work_outing_time}" id="outing_area" class="list_outing_area"></li>
                        <li th:text="${report_work.work_comeback_time}" id="comeback_area" class="list_comeback_area"></li>
                        <li th:text="${report_work.work_end_time}" id="end_area" class="list_end_area"></li>
                        
<!--                         근무기록 시간 수정 -->
                        <li class="time_update"><input th:value="${report_work.work_start_time}" id="start_area_input" /></li>
                        <li class="time_update"><input th:value="${report_work.work_outing_time}" id="outing_area_input" /></li>
                        <li class="time_update"><input th:value="${report_work.work_comeback_time}" id="comeback_area_input" /></li>
                        <li class="time_update"><input th:value="${report_work.work_end_time}" id="end_area_input" /></li>
                        
                        <li th:text="${report_work.work_total_time}" id="total_time_area"></li>
                        <li id="new_update" th:class="${report_work.id}"> 
                        <button id="update_btn" th:value="${report_work.id}">
                        <div class="btns_div">
                        <img src="imgs/pen.svg" class="pen_btn" >
                      </div>
                        </button>
                         <button id="check_btn" th:value="${report_work.id}"><img src="imgs/Icon_material_check.svg" class="check_btn" ></button>
                         <button id="close_btn" th:value="${report_work.id}"><img src="imgs/Icon_material_close.svg" class="close_btn" ></button></li>
<!--                         <input type="button" th:value="${report_work.id}" id="list_id"/> -->
                    </ol>

                </ul>
            </div>


            <!-- 페이징 처리(Unix 참조) -->
            <div>
                <ul>
                    <!-- 이전 -->

                    <!-- 번호 -->

                    <!-- 다음 -->

                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>