<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이벤터즈랩(eventusLAB)</title>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/1.0.12/jsrender.min.js"></script>
    <link rel="stylesheet" href="css/resume.css">
</head>
<body>
	<div class="wrapper">
		<div class="download_area">
			<div id="pdf">
				<img src="imgs/event_download.svg" id="download_btn">
			</div>
			<div id="pdf_text">
				<span id="pdf_text_">PDF 저장하기</span>
			</div>
			<div>
				<img src="imgs/close_btn.svg" id="close_btn">
			</div>
		</div>
		<div class="line"></div>
		<div id="resume_content">
			<div class="title">
				<div id="title_text">
					<p id="resume_text">이력서</p>
				</div>
			</div>
			<div class="info">
				<div class="profile_img">
					<div id="img_file">
						<img id="img">
					</div>
					<div id="info_area">
						<div id="top_area">
							<div>서강준</div>
							<div>26세</div>
							<div id="div_line"></div>
							<div>남</div>
						</div>
						<div>
							<img>1993. 10. 12
						</div>
						<div>
							<img>010-1234-5678
						</div>
						<div>
							<img>skj@mail.com
						</div>
						<div>
							<img>부산 해운대구 재송동
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>