<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>모여모여</title>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/common.js"></script>
    
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/resume_register.css">   
    <script src="/js/resume.js"></script>

</head>
<body>
    <div id="wrap">

        <div th:replace="~{common/sideforstaff :: sidebar_manage ('stafflist')}"></div>

        <!-- main -->
        <div class="content">
            <div class="container">
                <div class="page-header">
                    <div class="page-title">
                        <span>이력관리</span>
                    </div>
                </div>

                <div class="detail_bar">
                    <div class="detail1" onclick="location.href='manage_career_forstaff'">
                        <img src="imgs/material-view-list-gray.svg">
                        <p>지원현황</p>
                    </div>
                    <div class="detail2 this_bar">
                        <img src="imgs/myresume_icon_black.svg">
                        <p>나의이력서</p>
                    </div>
                </div>

                <div class="area">
                	<form name="resumeForm" action="/resumeAdd" method="post" onsubmit="return false">
                    <input type="text" name="staff_id" th:value="${memberInfo.id}" hidden >
                    <input type="text" name="OldResume_id" th:value="${resume_id}" hidden >
                    <input type="text" name="OldProfile" th:value="${profile}" hidden >
                    <div class="area1">
                        <span>인적사항</span>
                        <div class="area1_info_wrap">
                            <div>
                                <span class="w-24p">
                                    <p class="red_star">이름</p>
                                    <input type="text" class="lock_input" name="user_name" th:value="${memberInfo.user_name}" readonly >
                                </span>
                                <span class="w-24p">
                                    <p class="red_star">생년월일</p>
                                    <input type="text" class="lock_input" name="user_birth" readonly >
                                </span>
                                <span class="w-14p">
                                    <p class="red_star">성별</p>
                                    <input type="text" class="lock_input" name="user_gender" th:value="${memberInfo.user_gender}" readonly >
                                </span>
                                <span class="w-all">
                                    <p class="red_star">휴대폰번호</p>
                                    <input type="text" class="lock_input" name="user_phone" placeholder="010-1234-5678" readonly >
                                </span>
                                
                            </div>
                            <div>
                                <span>
                                    <p class="red_star">이메일</p>
                                    <input type="text" name="staff_email" placeholder="example@foryou.com" th:value="${memberInfo.user_email}" class="required">
                                </span>
                                <span class="w-all">
                                    <p class="red_star">거주지</p>
                                    <input type="text" name="staff_address" th:value="${#strings.defaultString(resumeInfo.staff_address, '')}" placeholder="직접 입력해주세요." class="required">
                                </span>
                            </div>
                        </div>
                        <div class="profile_wrap">
                            <label for="profile_img_file" id="insert_profile_bt"></label>
                            <div th:if="${resume_id != 0}" id="update_profile_bt">수정하기</div>
                            <img id="preview" class="in_profile" th:src="@{'https://eventuslab.s3.ap-northeast-2.amazonaws.com/profile_img/' +${profile}}" alt="profile_img" onerror="this.src='/imgs/profile_box.png'; this.classList.remove('in_profile');">
                            <input type="file" name="profile_img"  id="profile_img_file" onchange="readURL(this);" hidden/>
                        </div>
                    </div>
                    <div class="area2">
                        <span>학력사항</span>
                        <div>
                            <div class="school_info">
                                <span class="w-31p">
                                    <p class="red_star">학교명</p>
                                    <input type="text" name="staff_school1" class="required" th:value="${#strings.defaultString(school_info.school[0], '')}" placeholder="학교명을 입력해주세요.">
                                </span>
                                <span class="w-31p">
                                    <p class="red_star">전공/계열</p>
                                    <input type="text" name="staff_major1" class="required" th:value="${#strings.defaultString(school_info.major[0], '')}" placeholder="전공/계열을 입력해주세요.">
                                </span>
                                <span class="w-14p">
                                    <p class="red_star">입학년도</p>
                                    <input type="text" name="staff_school_start1" class="onlyNum required" th:value="${#strings.defaultString(school_info.start[0], '')}" placeholder="YYYY.MM" onkeyup="chkSchool($(this))">
                                </span>
                                <span class="w-14p">
                                    <p>졸업년도</p>
                                    <input type="text" name="staff_school_end1" class="onlyNum" th:value="${#strings.defaultString(school_info.end[0], '')}" placeholder="YYYY.MM" onkeyup="chkSchool($(this))">
                                </span>
                                <span class="w-14p">
                                    <p class="red_star">졸업구분</p>
                                    <select name="staff_school_state1" class="required">
                                        <option value="졸업" selected>졸업</option>
                                        <option value="재학중">재학중</option>
                                        <option value="중퇴">중퇴</option>
                                    </select>
                                </span>
                            </div>
                            <div class="school_info">
                                <span class="w-31p">
                                    <p>학교명</p>
                                    <input type="text" name="staff_school2" th:value="${#strings.defaultString(school_info.school[1], '')}" placeholder="학교명을 입력해주세요." required>
                                </span>
                                <span class="w-31p">
                                    <p>전공/계열</p>
                                    <input type="text" name="staff_major2" th:value="${#strings.defaultString(school_info.major[1], '')}" placeholder="전공/계열을 입력해주세요.">
                                </span>
                                <span class="w-14p">
                                    <p>입학년도</p>
                                    <input type="text" name="staff_school_start2" class="onlyNum" th:value="${#strings.defaultString(school_info.start[1], '')}" placeholder="YYYY.MM" onkeyup="chkSchool($(this))">
                                </span>
                                <span class="w-14p">
                                    <p>졸업년도</p>
                                    <input type="text" name="staff_school_end2" class="onlyNum" th:value="${#strings.defaultString(school_info.end[1], '')}" placeholder="YYYY.MM" onkeyup="chkSchool($(this))">
                                </span>
                                <span class="w-14p">
                                    <p>졸업구분</p>
                                    <select name="staff_school_state2">
                                        <option value="졸업" selected>졸업</option>
                                        <option value="재학중">재학중</option>
                                        <option value="중퇴">중퇴</option>
                                    </select>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="area3">
                        <span>운영요원 경력사항</span>
                        <div class="careers_div">
                            <div class="career_wrap">
                                <span class="w-31p">
                                    <p>행사명</p>
                                    <input type="text" class="c_en" name="input_staff_career_eventName" placeholder="행사명을 입력해주세요.">
                                </span>
                                <span class="w-31p">
                                    <p>소속기업</p>
                                    <input type="text" class="c_bn" name="input_staff_career_businessName" placeholder="소속된 기업명을 입력해주세요.">
                                </span>
                                <span class="w-31p">
                                    <p>담당업무</p>
                                    <input type="text" class="c_p" name="input_staff_career_position" placeholder="담당(활동)했던 업무를 입력해주세요.">
                                </span>
                                <span class="w-12p">
                                    <p>근무일수</p>
                                    <p>일</p>
                                    <input type="text" class="c_wd onlyNum" name="input_staff_career_workday" placeholder="숫자입력">
                                </span>
                            </div>
                            <div id="add_career" onclick="add_career()"></div>
                        </div>
                        
                    </div>
                    <div class="btn_wrap">
                        <button type="button" onclick="location.href='manage_career_forstaff'">취소</button>
                        <button type="button" id="update_bt">수정</button>
                        <button type="button" id="submit_bt">저장</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        /*<![CDATA[*/
            $(function(){
                const in_birth = /*[[${memberInfo.user_birth}]]*/
                const in_phone = /*[[${memberInfo.user_phone}]]*/
                const school_state = /*[[${school_info.state}]]*/
                const career_info = /*[[${career_info}]]*/

                $('input[name="user_birth"]').val(chkDate(in_birth))
                $('input[name="user_phone"]').val(chkItemPhone(in_phone));

                if(school_state[0] != ""){ $('select[name="staff_school_state1"]').val(school_state[0]); }
                if(school_state[1] != ""){ $('select[name="staff_school_state2"]').val(school_state[1]); }
                
                if(Object.keys(career_info).length != 0 ){
                    $('input[name="input_staff_career_eventName"]').val(career_info.eventName[0]);
                    $('input[name="input_staff_career_businessName"]').val(career_info.businessName[0]);
                    $('input[name="input_staff_career_position"]').val(career_info.positions[0]);
                    $('input[name="input_staff_career_workday"]').val(career_info.workday[0]);
                    for(i =1; i<career_info.eventName.length;i++){
                        add_career_forUpdate(career_info.eventName[i],career_info.businessName[i],career_info.positions[1],career_info.workday[1]);
                    }
                    if($('input[name="OldResume_id"]').val() != 0){
                        $('.remove_career').hide();
                    }
                }

            })
        /*]]>*/
    </script>
</body>
</html>