<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이벤터즈랩(eventusLAB)</title>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/common.js"></script>
    
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/resume_register.css">   
    <script src="/js/resume.js"></script>

</head>
<body>
    <div id="wrap">

        <div th:replace="~{common/sideforstaff :: sidebar_manage ('stafflist')}"></div>

        <!-- main -->
        <div class="content">
            <div class="container">
                <div class="page-header">
                    <div class="page-title">
                        <span>이력관리</span>
                    </div>
                </div>

                <div class="detail_bar">
                    <div class="detail1" onclick="location.href='eventList_ForStaff'">
                        <img src="imgs/material-view-list-gray.svg">
                        <p>행사현황</p>
                    </div>
                    <div class="detail2 this_bar">
                        <img src="imgs/pen.svg">
                        <p>나의이력서</p>
                    </div>
                </div>

                <div class="area">
                	<form name="resumeForm" action="/resumeAdd" method="post" onsubmit="return false">
                    <input type="text" name="staff_id" th:value="${memberInfo.id}" hidden >
                    <div class="area1">
                        <span>인적사항</span>
                        <div class="area1_info_wrap">
                            <div>
                                <span class="w-24p">
                                    <p class="red_star">이름</p>
                                    <input type="text" class="fix_input" name="user_name" th:value="${memberInfo.user_name}" readonly >
                                </span>
                                <span class="w-24p">
                                    <p class="red_star">생년월일</p>
                                    <input type="text" class="fix_input" name="user_birth" readonly >
                                </span>
                                <span class="w-14p">
                                    <p class="red_star">성별</p>
                                    <input type="text" class="fix_input" name="user_gender" th:value="${memberInfo.user_gender}" readonly >
                                </span>
                                <span class="w-all">
                                    <p class="red_star">휴대폰번호</p>
                                    <input type="text" class="fix_input" name="user_phone" placeholder="010-1234-5678" readonly >
                                </span>
                                
                            </div>
                            <div>
                                <span>
                                    <p>이메일</p>
                                    <input type="text" name="staff_email" placeholder="example@foryou.com" th:value="${memberInfo.user_email}" >
                                </span>
                                <span class="w-all">
                                    <p>거주지</p>
                                    <input type="text" name="staff_address" placeholder="직접 입력해주세요.">
                                </span>
                            </div>
                        </div>
                        <div class="profile_wrap">
                            <label for="profile_img_file" id="insert_profile_bt"></label>
                            <!-- <div id="update_profile_bt">수정하기</div> -->
                            <img id="preview" src="" alt="profile_img" onerror="this.src='/imgs/profile_box.png';">
                            <input type="file" name="profile_img" id="profile_img_file" onchange="readURL(this);" hidden/>
                        </div>
                    </div>
                    <div class="area2">
                        <span>학력사항</span>
                        <div>
                            <div class="school_info">
                                <span class="w-31p">
                                    <p class="red_star">학교명</p>
                                    <input type="text" name="staff_school1" class="required" placeholder="학교명을 입력해주세요.">
                                </span>
                                <span class="w-31p">
                                    <p class="red_star">전공/계열</p>
                                    <input type="text" name="staff_major1" class="required" placeholder="전공/계열을 입력해주세요.">
                                </span>
                                <span class="w-14p">
                                    <p class="red_star">입학년도</p>
                                    <input type="text" name="staff_school_start1" class="onlyNum required" placeholder="YYYY.MM" onkeyup="chkSchool($(this))">
                                </span>
                                <span class="w-14p">
                                    <p>졸업년도</p>
                                    <input type="text" name="staff_school_end1" class="onlyNum" placeholder="YYYY.MM" onkeyup="chkSchool($(this))">
                                </span>
                                <span class="w-14p">
                                    <p class="red_star">졸업구분</p>
                                    <select name="staff_school_state1" class="required">
                                        <option value="졸업">졸업</option>
                                        <option value="재학중">재학중</option>
                                        <option value="중퇴">중퇴</option>
                                    </select>
                                </span>
                            </div>
                            <div class="school_info">
                                <span class="w-31p">
                                    <p>학교명</p>
                                    <input type="text" name="staff_school2" placeholder="학교명을 입력해주세요." required>
                                </span>
                                <span class="w-31p">
                                    <p>전공/계열</p>
                                    <input type="text" name="staff_major2" placeholder="전공/계열을 입력해주세요.">
                                </span>
                                <span class="w-14p">
                                    <p>입학년도</p>
                                    <input type="text" name="staff_school_start2" class="onlyNum" placeholder="YYYY.MM" onkeyup="chkSchool($(this))">
                                </span>
                                <span class="w-14p">
                                    <p>졸업년도</p>
                                    <input type="text" name="staff_school_end2" class="onlyNum" placeholder="YYYY.MM" onkeyup="chkSchool($(this))">
                                </span>
                                <span class="w-14p">
                                    <p>졸업구분</p>
                                    <select name="staff_school_state2">
                                        <option value="졸업">졸업</option>
                                        <option value="재학중">재학중</option>
                                        <option value="중퇴">중퇴</option>
                                    </select>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="area3">
                        <span>운영요원 경력사항</span>
                        <div class="careers_div">
                            <div class="career_wrap">
                                <span class="w-31p">
                                    <p>행사명</p>
                                    <input type="text" class="c_en" name="input_staff_career_eventName" placeholder="행사명을 입력해주세요.">
                                </span>
                                <span class="w-31p">
                                    <p>소속기업</p>
                                    <input type="text" class="c_bn" name="input_staff_career_businessName" placeholder="소속된 기업명을 입력해주세요.">
                                </span>
                                <span class="w-31p">
                                    <p>담당업무</p>
                                    <input type="text" class="c_p" name="input_staff_career_position" placeholder="담당(활동)했던 업무를 입력해주세요.">
                                </span>
                                <span class="w-12p">
                                    <p>근무일수</p>
                                    <p>일</p>
                                    <input type="text" class="c_wd onlyNum" name="input_staff_career_workday" placeholder="숫자입력">
                                </span>
                            </div>
                            <div id="add_career" onclick="add_career()"></div>
                        </div>
                        
                    </div>
                    <div class="btn_wrap">
                        <button type="button">취소</button>
                        <button type="button" id="submit_bt">저장</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        /*<![CDATA[*/
            $(function(){
                const in_birth = /*[[${memberInfo.user_birth}]]*/
                console.log()
                const in_phone = /*[[${memberInfo.user_phone}]]*/

                $('input[name="user_birth"]').val(chkDate(in_birth))
                $('input[name="user_phone"]').val(chkItemPhone(in_phone));
            
                //필수값 체크
                $('#submit_bt').click(function(){
                    let result = true;
                    $('.required').each(function(){
                        if($(this).val() == ""){
                            $(this).focus();
                            result = false;
                            return false;
                        }
                    })
                    if(!result) return false;
                    submitDate('/resumeAdd');
                })
            })
        /*]]>*/
    </script>
</body>
</html>