<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>이벤터즈랩(eventusLAB)</title>
	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/event_Detail.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


</head>
<body>
	
	<div th:replace="~{common/sideforstaff :: sidebar_manage ('schedule')}"></div>

	<div class="content">
		<div class="container">
			<div class="page-header">
				<div class="page-title">
					<span>행사목록</span>
				</div>
				<div class="excel_download">
					엑셀 데이터 다운로드
				</div>
			</div>
			<div class="detail_bar">
				<div class="detail1 this_bar" onclick="location.href='eventList_ForStaff'">
					<img src="imgs/material-view-list.svg">
					<p>행사현황</p>
				</div>
			</div>
			<div class="area">
				<h2>행사 정보</h2>
				<span th:replace="~{manage_eventDetail :: event_detail}"></span>
					
				<div class="btn_wrap">
					<button type="button" onclick="location.href='/eventList_ForStaff'">목록으로</button>
					<button type="button" th:if = "${event.event_status == 0}" onclick="$('#modal_wrap').show();">지원하기</button>
					<button type="button" th:if = "${event.event_status != 0}" class="unwork">지원하기</button>
				</div>
			</div>
		</div>
	</div>
	<div id="modal_wrap">
		<div class="modal_bg"></div>
		<div class="con_wrap">

			<div id="application_con" class="modal_con" th:if="${isResume != 0}">
				<div class="app_modal_close" onclick="$('#modal_wrap').hide();"></div>
				<p id="modal_title" th:text="${event.event_title}"></p>
				<div class="line"></div>
				<p>지원부분</p>
				<div class="select_box">
					<input type="text" name="staff_position" readonly onclick="on_select()">
					<div class="select_con">
						<div th:each="positions : ${positionMap}" class="select" onclick="click_position(this)">[[${positions.key}]]</div>
					</div>
				</div>
				<button type="button" th:onclick="'submit_application('+${event.id}+','+${staff_id}+','+${isResume}+')'">지원완료</button>
			</div>
			<div id="resume_con" class="modal_con" th:if="${isResume == 0}">
				<p>안내</p>
				<div class="line"></div>
				<p>이력서 등록 후 지원이 가능합니다.<br>
				<span style="color: #DD5067;">이력서 등록</span>을 하시겠습니까?</p>
	
				<div class="modal_btn_wrap">
					<button type="button" onclick="$('#modal_wrap').hide();">취소</button>
					<button type="button" onclick="location.href='/myresume_forStaff';">이력서 등록하기</button>
				</div>
			</div>
		</div>
		
	</div>

	<script>
		$(function(){

			let select_position = $('.select:first-child').text();

			$('input[name="staff_position"]').val(select_position);

			$('html').click(function(e) {
				if($(e.target).hasClass("con_wrap")) {
					$('#modal_wrap').hide();
					off_select();
					modal_flag = false;
				}
			});  
		})

		function on_select(){
			const select_count = $('.select').length;
			$(".select_box").css("height", 50 *(select_count+1));
		}

		function off_select(){
			$(".select_box").css("height", 50);
		}

		function click_position(obj){
			const position_text = $(obj).text();
			$('input[name="staff_position"]').val(position_text);
			off_select();
		}

		function submit_application(event_id, staff_id, isResume){
			if (confirm("정말 지원하시겠습니까? \n* 지원 후 이력서를 수정하셔도 반영되지 않습니다.")) {
				const input_staff_position = $('input[name="staff_position"]').val();
				$.ajax({
					url : "/application_event",
					type : 'post',
					data : {
						event_id:event_id,
						staff_id:staff_id,
						resume_id:isResume,
						staff_position:input_staff_position
					},
					success: function(data){
						if(data === 1){
							alert('이미 지원하신 행사입니다.')
						}else{
							location.href='eventList_ForStaff';
						}
					}
				});

			} else {
			}
		}
	</script>
</body>
</html>