<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.0.272/jspdf.debug.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <style>
        div#pdf_area {
            width: 100%;
            height: 1000px;
            border: 1px solid;
            margin: 0 auto;
        }
        h1 {
            text-align: center;
            margin: 50px 0;
        }
        #pdf_area div {
            width: 80%;
            height: 500px;
            border: 20px solid #eee;
            margin: 0 auto;
            padding: 50px;
            box-sizing: border-box;
        }

    </style>
    
    <title>Document</title>
</head>
<body>
    <div id="pdf_area">
        <h1>서류서류서류</h1>
        <div>
            <p>안녕하세요 서류입니다.</p>
            <p>반갑습니다. <br>서류입니다.</p>
        </div>
    </div>
    <form name="aa" action=""></form>
    <script language = "javascript">

        let element = document.getElementById('pdf_area');
        let opt = {
            // margin:       1,
            filename:     'myfile.pdf',
            image:        { type: 'jpeg', quality: 0.98 },
            html2canvas:  { scale: 2 },
            jsPDF:        { unit: 'in', format: 'letter', orientation: 'portrait' }
        };
        
        var form = $('form[name="aa"]');
        var formData = new FormData(form[0]);
        var url =""
        html2pdf().from(element).toPdf().output('datauristring').then(function (pdfAsString) {
            // The PDF has been converted to a Data URI string and passed to this function.
            // Use pdfAsString however you like (send as email, etc)! For instance:
            url=pdfAsString;
            
            
        });

        const a = new File(url, 'file');
            console.log(a);
            formData.append('file', a);
            $.ajax({
                        url : '/download',
                        data : formData,
                        type : 'POST',
                        enctype : 'multipart/form-data',
                        processData : false,
                        contentType : false,
            //                dataType : 'json',
                        cache : false,
                        success : function (result) {
                            window.location.href= result;
                        }
            });

    </script>
        
</body>
</html>