<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원정보 수정</title>
    
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/1.0.12/jsrender.min.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/userModify.js"></script>

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/user_modify.css">

</head>
<body>
    <div id="wrap">
        <span th:if="${session.authority == 0}">
            <div th:replace="~{common/side :: sidebar_manage ('schedule')}" ></div>
        </span>
        <span th:if="${session.authority == 1}">
            <div th:replace="~{common/sideforstaff :: sidebar_manage ('stafflist')}"></div>
        </span>

        <!-- main -->
        <div class="content">
            <div class="container">
                <div class="page-header">
                    <div class="page-title">
                        <span>내 정보 설정</span>
                    </div>
                    <div class="pre-button" onclick="history.back()">이전화면으로 돌아가기</div>
                </div>
                <div class="modify-wrap">
                    <div class="modify-area L_area">
                        <p class="area_title">내 프로필</p>
                        <!-- action 주소 확인하세요! -->
                        <form action="" method="post">
                            <div class="form_wrap">
                                <div class="box_form">
                                    <p>아이디</p>
                                    <input type="text" th:value="${memberVo.user_id}" name="id" id="input_id" disabled>
                                </div>
                                <div class="box_form">
                                    <p>이름</p>
                                    <input type="text" th:value="${memberVo.user_name}" name="name" id="input_name" disabled>
                                </div>
                                <div class="box_form">
                                    <p>이메일주소</p>
                                    <input type="text" th:value="${memberVo.user_email}" name="email" id="input_email" placeholder="이메일주소를 입력해주세요">
                                </div>
                                <div class="box_form">
                                    <p>생년월일</p>
                                    <input type="text" th:value="${memberVo.user_birth}" name="gender" id="input_gender" disabled>
                                </div>
                                <div class="box_form">
                                    <p>성별</p>
                                    <input type="text" th:value="${memberVo.user_gender}" name="birth" id="input_birth" disabled>
                                </div>
                                <div class="box_form">
                                    <p>휴대전화</p>
                                    <span>
                                        <input type="text" name="phone" id="input_phone" class="onlyNum" th:value="${memberVo.user_phone}" placeholder="휴대전화번호를 입력해주세요" disabled>
                                        <button type="button" id="phone_check_bt" onclick="click_ckBt(1)">변경하기</button>
                                        <button type="button" id="phone_cancel_bt" onclick="click_ckBt(0)">취소</button>
                                    </span>
                                </div>
                                <div class="box_form phone_bt_box">
                                    <button type="button" id="auth_bt">인증번호 발송</button>
                                </div>
                                <div class="box_form phone_ck_box">
                                    <span>
                                        <div class="certifinum_area">
                                            <span id="certifi_time"></span>
                                            <input type="text" id="certifinum" placeholder="인증번호 입력" class="onlyNum" onkeyup="certifinum_checking($(this).val())">
                                            <div class="check_icon"></div>
                                            <input type="button" id="certifinum_check" value="✓" disabled>
                                        </div>
                                        <button type="button" id="resend">재인증</button>
                                        <button type="button" id="submit_btn">변경</button>
                                    </span>
                                    
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modify-area R_area">
                        <p class="area_title">비밀번호 변경</p>
                        <!-- action 주소 확인하세요! -->
                        <form action="" method="post">
                            <div class="form_wrap">
                                <div class="box_form">
                                    <p class="redStar">현재 비밀번호</p>
                                    <input type="password" name="old_pw" id="old_pw" placeholder="현재 비밀번호를 입력해주세요" autocomplete="off">
                                </div>
                                <div class="box_form">
                                    <p class="redStar">변경 비밀번호</p>
                                    <input type="password" name="new_pw" id="new_pw" placeholder="변경하실 비밀번호를 입력해주세요" autocomplete="off">
                                </div>
                                <div class="box_form">
                                    <p class="redStar">현재 비밀번호 확인</p>
                                    <input type="password" name="new_pw_ck" id="new_pw_ck" placeholder="비밀번호를 다시 입력해주세요" autocomplete="off">
                                </div>
                                <div class="box_form">
                                    <button type="button" id="change_pw_button">변경하기</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>