<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이벤터즈랩(eventusLAB)</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/modal.css">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css" />
</head>
<body>
	<input type="hidden" th:value="${event_id}" id="event_id">
	<div class="top_div">
		<div id="total">총 근무자 수 <span style="color: #DD5067" th:text="${staff_count}"></span> 명</div>
		<div id="date">[(${today})]</div>
		<input type="hidden" th:value="${work_date}" id="today">
	</div>
	<div class="worker_list">
		<div id="list" th:each="list : ${workStaff_list}">
			<input type="text" th:value="${list.id}" id="staff_id">
			<div id="each_">
			<div class="img_div">
				<img src="/imgs/profile_none_img.svg" id="profile_img">
			</div>
			<div class="personal_info">
				<div id="personal_div" class="upper_div">
					<img src="/imgs/personal_icon.svg" id="icon">
					<p th:text="${list.user_name} + '(' + ${list.staff_age} + '세)'"></p>
				</div>
				<div id="personal_div">
					<img src="/imgs/phone_icon.svg" id="icon">
					<p th:text="${list.staff_phone}"></p>
				</div>
			</div>
			<div id="line"></div>
			<div class="record_wrap" th:each="time : ${list.recordVo}">
				<div class="record_div">
					<div id="each_record">
						<p>출근</p>
						<button type="button" id="record_btn" onclick="record_startTime()" th:if="${time.work_start_time == null}">기록</button>
						<button type="button" id="workTime" th:if="${time.work_start_time != null}">[(${time.work_start_time})]</button>
					</div>
					<div id="each_record">
						<p>외출</p>
						<button type="button" id="record_btn" onclick="record_outTime()" th:if="${time.work_outing_time == null}">기록</button>
						<button type="button" id="workTime"th:if="${time.work_outing_time != null}">[(${time.work_outing_time})]</button>
					</div>
					<div id="each_record">
						<p>복귀</p>
						<button type="button" id="record_btn" onclick="record_backTime()" th:if="${time.work_comeback_time == null}">기록</button>
						<button type="button" id="workTime" th:if="${time.work_comeback_time != null}">[(${time.work_comeback_time})]</button>
					</div>
					<div id="each_record">
						<p>퇴근</p>
						<button type="button" id="record_btn" onclick="record_endTime()" th:if="${time.work_end_time == null}">기록</button>
						<button type="button" id="workTime" th:if="${time.work_end_time != null}">[(${time.work_end_time})]</button>
					</div>
				</div>
			</div>
			<div class="record_wrap" th:if="${list.recordVo == null}">
				<div class="record_div">
					<div id="each_record">
						<p>출근</p>
						<button type="button" id="record_btn" onclick="record_startTime()">기록</button>
					</div>
					<div id="each_record">
						<p>외출</p>
						<button type="button" id="record_btn" onclick="record_outTime()">기록</button>
					</div>
					<div id="each_record">
						<p>복귀</p>
						<button type="button" id="record_btn" onclick="record_backTime()">기록</button>
					</div>
					<div id="each_record">
						<p>퇴근</p>
						<button type="button" id="record_btn" onclick="record_endTime()">기록</button>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
	<script>
		function record_startTime()  {
		  var event_id = $("#event_id").val();
		  var staff_id = $("#staff_id").val();
		  var work_date = $("#today").val();
		  debugger;
		  $.ajax({
				url : "/record_start",
				type : 'post',
				data : {
					staff_id:staff_id,
					event_id:event_id,
					work_date:work_date,
				},
				success: function(){
					location.href="/workRecord_modal?id="+event_id;
				}
			});
		}

		function record_outTime()  {
			var event_id = $("#event_id").val();
			var staff_id = $("#staff_id").val();
			var work_date = $("#today").val();
			  
			$.ajax({
				url : "/record_out",
				type : 'post',
				data : {
					staff_id:staff_id,
					event_id:event_id,
					work_date:work_date,
				},
				success: function(){
					location.href="/workRecord_modal?id="+event_id;
				}
			});
		}

		function record_backTime()  {
			var event_id = $("#event_id").val();
			var staff_id = $("#staff_id").val();
			var work_date = $("#today").val();
			  
			$.ajax({
				url : "/record_back",
				type : 'post',
				data : {
					staff_id:staff_id,
					event_id:event_id,
					work_date:work_date,
				},
				success: function(){
					location.href="/workRecord_modal?id="+event_id;
				}
			});
		}
		
		function record_endTime()  {
			var event_id = $("#event_id").val();
			var staff_id = $("#staff_id").val();
			var work_date = $("#today").val();
			  
			$.ajax({
				url : "/record_end",
				type : 'post',
				data : {
					staff_id:staff_id,
					event_id:event_id,
					work_date:work_date,
				},
				success: function(){
					location.href="/workRecord_modal?id="+event_id;
				}
			});
		}
  </script>
</body>
</html>